[2014-10-21 06:39] tjwebb opened #1 "user created via /auth/google has email but no username"
[code]

[2014-10-25 03:58] tjwebb opened #2 "error: Unable to parse HTTP body- error occurred :: [Error: Failed to deserialize user out of session]"

[2014-10-25 04:04] #1 closed, assigned to nobody

[2014-10-25 04:04] #2 closed, assigned to nobody

[2014-10-27 01:53] tjwebb opened #3 "error: Something else already exists at locales/en.json"
will be resolved in https://github.com/tjwebb/sails-generate-entities/issues/1

[2014-12-02 13:52] vmaatta opened #4 "Documentation would be greatly appreciated"
I've been trying to bring sails-auth into an existing project and I have to say this is more painful due to the lack of documentation. There's good promise in sails-auth but can the project in its current state to really be used? If so, what exact steps does one need to do, what exactly needs to be implemented by hand and what does sails-auth implement.

1. How to get registration and login workin

[2014-12-09 13:14] dottodot opened #5 "TypeError: undefined is not a function"
In file sails-auth/api/services/protocols/local.js

[code]

is causing the error TypeError: undefined is not a function

if I change it back to what sails-generate-auth uses i.e

[code]

is works fine

[2014-12-11 09:57] dottodot opened #6 "Unhashed password saved in User model"
When a user is created their password is saved in the User model unhashed, and the hashed password is saved in the Passport model.

[2014-12-12 10:10] #5 closed, assigned to nobody

[2014-12-15 18:09] #6 closed, assigned to nobody

[2014-12-31 07:24] tjwebb opened #7 "log authentication history"

[2015-01-01 13:48] jorgecasar opened #8 "No generator called `auth-api` found"
Hi,

I'm following the steps on Sails v0.10.5 and auth-api can't be found. Here is the log:

[code]

[2015-01-03 00:19] tjwebb commented on #8
Updated README to include necessary instruction: https://github.com/tjwebb/sails-auth/blob/master/README.md#1-configure-sailsrc

[2015-01-03 10:54] jorgecasar commented on #8
Thanks!

[2015-01-03 11:01] jorgecasar commented on #8
I tried and still doesn't work:

[code]

Sorry, I had to have tested before close the issue.

[2015-01-03 19:16] tjwebb commented on #8
Can you post your .sailsrc?

[2015-01-03 19:34] jorgecasar commented on #8
Here is:

[code]

I've done a generator using [sails generate generator](https://github.com/balderdashy/sails-generate-generator) and I didn't have to declare it in the '.sailsrc' file.

Maybe is something wrong in sails-generate-entities instead of this one.

[2015-01-03 23:18] tjwebb commented on #8
Ah, put everything inside "modules". I pasted the .sailsrc incorrectly. Sorry about that

[2015-01-20 05:46] airtonix opened #9 "Investigate another way to instantiate strategies"
Not all passport strategies have the signature of `new Strategy(options, verifyFn)`. For example: `passport-jwt` has a signature of `new Strategy(secret, options, verifyFn)` (dumb, I know).

Either we pressure strategy authors to implement a standard signature or we investigate a pattern for defining strategies that allows for more flexible loading.

Having to edit the passport service all the tim

[2015-01-21 03:24] tjwebb commented on #9
I guess I just hadn't run into this with the strategies I've used, so I had no idea. I think that shims will just have to be written for cases like that. I mean, the "local" strategy is not even a real thing, it just implements the passport API. A similar but much simpler shim could be written that shoves `secret` into `options` and then pulls it back out.

bottom line, I can't think of a good sol

[2015-01-22 04:19] #8 closed

[2015-02-15 17:53] tjwebb opened #10 "move sails.services.passport.loadStrategies(); to hook"

[2015-02-16 03:35] tjwebb opened #11 "res.json is deprecated"
[code]

[2015-02-16 03:35] #10 closed

[2015-02-16 05:01] #11 closed

[2015-02-23 11:57] jifeon opened #12 "disable globals"
Hi, thank you for great module.

I'm not using [globals](http://sailsjs.org/#!/documentation/anatomy/myApp/config/globals.js.html) in my project, so when I include your module it falls down with error:

[code]

Could you please use module system to include sails? In this case both users are using globals and not will be able to enjoy your module :)

[2015-02-23 12:04] jifeon opened #14 "problem with just generated sails-auth policy"
Now I have generated file `config/policies/sails-auth.js` with following content:
[code]

but `sails-auth/config/policies/sails-auth` does not exist. Looks like a mistake

[2015-02-25 02:17] tjwebb commented on #12
Yep

[2015-02-25 02:23] tjwebb commented on #12
That line needs access to `sails.config`. I don't know how else to get access to this.

A lot of extensions are going to rely on `sails` being global.

[2015-02-25 04:30] #14 closed

[2015-02-25 06:07] tjwebb commented on #4
I've recently published a lot of new documentation for sails-auth and sails-permissions. I hope you find it useful.

[2015-02-25 06:07] #4 closed

[2015-02-25 18:21] jifeon commented on #12
Why you can't just use something like
[code]

This code may seems strange but in reality sails-auth always depends on sails, and can be used only as plugin for sails. So require('sails') always will return sails instance. Btw, I think it's needed to add sails as peer dependency.

One more thing. I can accept that `sails` is global var because the plugins itself for sails, but services as global va

[2015-02-25 20:06] tjwebb commented on #12
I'm not going to do this, sorry. sails already is a peerDependency; make sure you have the latest version of sails-auth.

Is there a bug report for this? If this causes issues, sails team should fix it.

I'm much more inclined to follow sails convention than to bend over backward to support every possible configuration.

[2015-02-26 18:02] tjwebb opened #18 "make installable hook"
http://sailsjs.org/#!/documentation/concepts/extending-sails/Hooks/installablehooks.html

[2015-02-26 19:19] jifeon commented on #12
Globals causes problems and it's not a problem of sails anymore since the authors implemented ability to disable spreading global variables in v.0.10

You can read [here](https://github.com/balderdashy/sails/issues/295) and [here](https://github.com/balderdashy/sails/issues/2583) about the sails users' problems related to globals. And now some users start using sails without globals to avoid these

[2015-02-26 19:23] tjwebb commented on #12
re: https://github.com/balderdashy/sails/issues/295#issuecomment-16016521

Alright I'll follow @mikermcneil's lead and rely only on the global `sails` object, and everything else will be accessed via `sails.<service>` and so forth. Sound good?

[2015-02-27 06:03] jifeon commented on #12
Yeah! It would be absolutely great, thank you!

[2015-02-28 21:10] grantbi opened #19 "Documentation for local authentication updates and maintaining user in session"
I'm fairly new at Sailjs and have a question about sails-auth.  Could you provide more information about how to use the authenticated user, and what the external links/routes may be for local authentication?
I'm assuming POST requests for all of these:
[code]
it would return to?
[code]

When I do a post to `/auth/local/register` with `username` and `password` or `email` parameters it has a 500 Ser

[2015-03-02 18:42] tjwebb commented on #19
Someone else saw this error, but I think it's due to a bad build. Can you update to the latest version and try again?

The wiki has some more info: https://github.com/tjwebb/sails-auth/wiki.

[2015-03-02 18:47] #3 closed

[2015-03-02 20:22] bgulotta commented on #19
I've got a distributed setup where my sailsjs server is just an api with the sails-auth and sails-permissions modules installed. my front-end is a sails-backbone-client running on another server. I'm able to use my backbone user model in the client and call save to create the user on the sails server. I cannot figure out how to successfully login with my email and password supplied during registra

[2015-03-02 20:25] grantbi commented on #19
Not sure if this helps, but I was able to get the setup working with a hybrid of this example:
https://github.com/sails101/even-more-passport

[2015-03-02 20:35] tjwebb commented on #19
There are three ways you can login:
1. Use a 3rd party provider by navigating (GET) to `/auth/<provider>`, e.g. `/auth/google`. This will create a session and the browser will remain authenticated
2. Create a form that POSTs to `/auth/local`
3. Use Basic Auth, e.g. https://github.com/hashware/hashpanel/blob/master/js/index.js#L23-L29

[2015-03-02 20:37] tjwebb commented on #19
My intention is for sails-auth to be a complete authentication solution. If you can share the extra steps you took to set it up the way you like, I'd like to incorporate those into this project.

[2015-03-02 21:25] bgulotta commented on #19
thx. yeah i just extended the existing login method off the local protocol to do what i wanted

[2015-03-03 14:39] bgulotta commented on #19
My issue is when i try to post to auth/local i'm getting a passport initialized error:

[Error: passport.initialize() middleware not in use]

[2015-03-03 18:49] tjwebb commented on #19
Ah, the initialization occurs in the `passport` policy, and I'd omitted that from the `AuthController` policy by accident. I'll update the docs.

[2015-03-03 20:07] bgulotta commented on #19
Cool...Next issue:

warn: Error: Failed to serialize user into session
    at pass (/Users/bgulotta/git/reach-api/node_modules/sails-auth/node_modules/passport/lib/authenticator.js:277:19)
    at serialized (/Users/bgulotta/git/reach-api/node_modules/sails-auth/node_modules/passport/lib/authenticator.js:282:7)
    at module.exports (/Users/bgulotta/git/reach-api/node_modules/sails-auth/api/service

[2015-03-03 20:43] tjwebb commented on #19
Can you file new issues for each of these so they are more searchable?

Answer: That looks like an issue in your code, not mine :) It looks like you're re-implementing the stuff in https://github.com/tjwebb/sails-auth/blob/master/api/services/protocols/local.js and https://github.com/tjwebb/sails-auth/blob/master/api/services/passport.js but slightly differently.

[2015-03-03 21:16] bgulotta opened #20 "posting to auth/local on fresh install returns error"
I'm getting the error below on a clean install of sails-auth and sails-permissions. It happens when I attempt to post to /auth/local with the default admin credentials  { email: 'admin@example.com' password:'admin1234'}.

Error: Failed to serialize user into session
    at pass (/Users/bgulotta/git/reach-api/node_modules/sails-auth/node_modules/passport/lib/authenticator.js:277:19)

[2015-03-04 21:57] bmsterling opened #21 "Password unencrypted in User collection using createUser"
This is in reference to https://github.com/tjwebb/sails-permissions/issues/24.

When calling `createUser` in `sails-auth/api/services/protocals/local.js`, `_user` contains the unencrypted `password` which get's passed directly to `sails.models.user.create`.

I have a fix and will do a pull with my changes.

[2015-03-04 23:00] #21 closed

[2015-03-04 23:01] tjwebb opened #23 "unit test user.password invisibility"
ensure the user password is never stored in the clear in the database or session cache

[2015-03-05 17:11] bmsterling commented on #20
It may or may not be related, but I'm erroring out when logging in with a fresh install as well, except my error is `Error: passport.initialize() middleware not in use`.  Both the session issue and mine seem to be related to the `api/policies/passport.js` file not actually being executed.  It's being loaded, but `passport.initialize`, which in turn calls `passport.session`, never being called.

I'

[2015-03-05 18:14] tjwebb commented on #20
There's another open issue for this as well. I'll try to get to it today.
On Mar 5, 2015 12:11 PM, "Benjamin Sterling" <notifications@github.com>
wrote:

[2015-03-05 19:05] bmsterling commented on #20
Thanks, let me know if I can help.

[2015-03-08 23:14] phishy opened #25 "after fresh install, a visit to /auth/google produces error"
[code]

[2015-03-15 01:43] tjwebb commented on #25
Sorry I just saw this. What version of sails-auth are you using?

[2015-03-15 03:24] tjwebb commented on #25
Do you have this in config/policies.js:

[code]

[2015-03-15 23:04] claymcleod opened #26 "Middleware not initialized"
Hey TJ,

Following the steps to install sails-permissions, I receive this error

[code]

Seems like a relatively simple fix, but since Sails handles middleware configuration, I thought I would post here to get your thoughts on the issue.

[2015-03-16 05:52] tjwebb commented on #26
same as https://github.com/tjwebb/sails-auth/issues/25

Initializing should occur in the `passport` policy. Is `passport` in your policies list?

[2015-03-16 17:51] claymcleod commented on #26
Here is my policies.js for your reference:

[code]

[2015-03-16 19:56] claymcleod commented on #26
Updated the original post with a more detailed error report. I tried looking for the answer, but to no avail.

[2015-03-17 01:57] tjwebb commented on #26
Do you have the file api/hooks/sails-auth.js? That's where loadStrategies should occur

[2015-03-17 02:07] claymcleod commented on #26
Here is a link to a clean project in which the problem was reproduced: https://github.com/claymcleod/testing-sails-permissions

[2015-03-17 02:07] tjwebb commented on #26
ok thanks

[2015-03-17 02:08] claymcleod commented on #26
Let me know if i can do anything else to help. Right now I'm clueless.

[2015-03-17 02:09] tjwebb commented on #26
You don't have sails-permissions or sails-auth in your package.json, so I can't figure out what version you're using. Can you re-install sails-permissions through npm with `--save`

[2015-03-17 02:18] claymcleod commented on #26
Done. (Still can reproduce)

[2015-03-17 03:43] tjwebb commented on #26
Crap, my bad. The sails-permissions and sails-auth documentation got out of sync. The AuthController policy should look like this: https://github.com/tjwebb/sails-auth#configpoliciesjs.

sails-permissions README is wrong. Really sorry about that.

[2015-03-17 03:44] #26 closed

[2015-03-17 03:45] tjwebb commented on #25
Resolved: https://github.com/tjwebb/sails-auth/issues/26#issuecomment-82076072.

[2015-03-17 03:45] #25 closed

[2015-03-17 03:47] tjwebb commented on #12
update: I've removed some but not all occurrences. Do you have some time to go through and replace the remaining globals? There's not a ton of code here, I'm just not going to have time for the next few days to look at this.

[2015-03-17 03:48] tjwebb commented on #20
There were a couple other related issues both here and in sails-permissions that I resolved today. Specifically, the policies config in the sails-permissions README was out of date.

Can you guys update your policies config according to the new README and test this out again?

[2015-03-17 04:04] claymcleod commented on #26
That fixed it. Thanks, TJ

[2015-03-17 04:16] tjwebb commented on #26
Awesome, thanks for letting me know.

On Tue, Mar 17, 2015 at 12:04 AM, Clay McLeod <notifications@github.com>
wrote:

[2015-03-17 08:02] jifeon commented on #12
Yep, I can do it on weekend )
On Mar 17, 2015 6:47 AM, "Travis Webb" <notifications@github.com> wrote:

[2015-03-17 15:09] bgulotta commented on #20
sure...

[2015-03-17 15:34] bgulotta commented on #20
I'm still getting the serialization error trying to post to auth/local with the default admin user.

[Error: Failed to serialize user into session]

[2015-03-17 16:06] tjwebb commented on #20
Ok I'll check this out.

[2015-03-17 16:39] bgulotta commented on #20
![screen shot 2015-03-17 at 11 32 12 am](https://cloud.githubusercontent.com/assets/3649271/6692310/00976b64-cc9a-11e4-8041-4ec014d04601.png)

[code]
In case it is helpful, screenshot of REST call and stack trace

[2015-03-17 17:46] bgulotta commented on #20
It appears that the issue is that the call to passports this.authenticate() isn't calling your local.login method. I'll do a little more digging and see why this is not the case.

I made a small change to force the login method to get called on the local provider and the login seems to work just fine.

[code]

[2015-03-17 18:10] bgulotta commented on #20
I figured out the issue and got the local authentication to work. I believe there just needs to be a documentation update. It needs to say to make sure the field in your post to auth/login is called "identifier" and not username or email. There is another issue I'll open in another thread. If you submit an invalid identifier or password when authenticating the rest call isn't returning a response

[2015-03-17 18:15] bgulotta opened #27 "Posting to auth/local with invalid identifier or password does not return response to client"
If you post to auth/local with a valid identifier and password you get the user back. However, the server does not respond to the client when an invalid identifier or password. I would expect a res.forbidden() from the sails server in this case.

[2015-03-18 03:51] bgulotta commented on #20
Now that I think about it I would expect posting to auth/local or any endpoint in sails with invalid request values to return res.badRequest()

[2015-03-18 17:38] tjwebb commented on #20
Yes it should. Sounds like an oversight on my part.
On Mar 17, 2015 11:51 PM, "Brian Gulotta" <notifications@github.com> wrote:

[2015-03-19 11:56] dottodot opened #28 "Maintaining a Session and req.session.authenticated undefined"
I can can login using passport-local and the session is created in my mongodb, but for any subsequent requests req.session.passport is always empty.

Also req.session.authenticated in the sessionAuth policy is always undefined.

Not sure if I'm missing something or if it's a bug, I've setup others sails projects with passport and not had this issue.

[2015-03-19 12:24] dottodot commented on #28
Additionally req.user is always undefined too, so I'm obviously missing pretty important.

[2015-03-19 19:18] tjwebb commented on #28
Can you post your config/policies.js file?

[2015-03-20 09:33] dottodot commented on #28
[code]

[2015-03-20 18:38] tjwebb commented on #28
Which controller is req.user undefined inside of?

[2015-03-21 17:08] yohanesyuen commented on #28
I am currently exploring authentication options for use in my sails app.

The documentation suggests to use the following in ```config/policies.js```:

[code]

`sessionAuth` tests for req.session.authenticated before allowing a user through but `req.session.authenticated` is only set in `basicAuth` but from what I observe, it is never set in `passport`

[2015-03-23 10:02] dottodot commented on #28
OK the first place where req.user is undefined is in api/polices/passport.js and in api/services/passport.js

I haven't worked out where req.user is set to trace why isn't not working.

Because it's alway undefined it means I can't use sails-permissions as AuditPolicy.js uses req.user.id

[2015-03-23 14:41] bgulotta commented on #28
i'm getting the same behavior. i can authenticate using passport-local posting to auth/local, but subsequent requests are failing. i've added some debug logging and sails.sid is getting sent on subsequent requests. so the issue isn't there. i'll do some more digging and see what i can find.

[2015-03-23 19:38] bgulotta opened #29 "Can't unit test Passport.beforeCreate to ensure the password is hashed"
I have written the following unit test below for the passport module and it is failing. I am able to get the unit test passing if I update the following line in sails-auth/api/models/Passport.js: line 20

[code]
[code]

[2015-03-24 07:22] tjwebb commented on #29
Interesting, thanks. Would you mind submitting a PR with this change?

[2015-03-24 09:59] dottodot commented on #28
OK digging a bit deeper and it looks like the only place that req.user and req.session.authenticated are set is in basicAuth, so as I'm not using basicAuth this is why it's not working.

What I can't work out though is why req.session is always empty on subsequent requests.

[2015-03-24 10:35] dottodot commented on #28
I've found the following seems to fix my issues.

In services/passport.js change
[code]
to
[code]
then in AuthContoller add ```req.session.authenticated = true;``` on successful login

[2015-03-24 10:46] bgulotta commented on #29
Sure thing

[2015-03-24 21:53] bgulotta commented on #28
@dottodot In my fork, I have added 2 new unit tests for this scenario. They were failing, I updated the code with your suggested changes and they are passing now.

[2015-03-25 01:02] bgulotta commented on #23
Is this issue referring to the password on the passport object? If so my PR should have addressed this issue as well.

[2015-03-25 14:43] bgulotta opened #31 "(Feature) Add gitter chat room badge to readme"
It would be nice to have a https://gitter.im/ chat badge added in the README.md for this repository. If you sign into gitter and create a room linked to this repository it should issue a PR to add this badge for you automatically.

[2015-03-27 03:04] #29 closed

[2015-03-27 12:30] #27 closed

[2015-03-27 12:30] #20 closed

[2015-03-28 17:51] tjwebb commented on #28
is this resolved also via #30?

[2015-03-28 17:52] tjwebb commented on #23
which PR?

[2015-03-28 17:52] tjwebb commented on #12
@jifeon any progress?

[2015-03-28 19:22] jifeon commented on #12
Sory for delay..

[2015-03-28 19:33] bgulotta commented on #28
That's correct. This can be closed

[2015-03-28 19:34] #28 closed

[2015-03-29 20:37] #12 closed

[2015-04-02 21:48] tjwebb commented on #31
I'm just going to have one for sails-permissions for now to avoid fragmentation. Thanks

[2015-04-02 21:48] #31 closed

[2015-04-08 03:33] scott-wyatt opened #35 "Missing Login method in the Local Callback"
I'm having an issue trying to use login. I would just add this in and do a PR, but I am really bad at doing the testing stuff. I think this is what it should look like... perhaps I'm wrong?

[code]

[2015-04-08 03:53] tjwebb commented on #35
Can you describe in more detail what you tried to do, and what didn't seem to work?

[2015-04-08 15:12] scott-wyatt commented on #35
Thanks @tjwebb for the quick reply.  When I use the route 'auth/local/:callback'  by calling 'auth/local/login' it should hit the service/protocols/local.js login export, however when the request get's routed through services/passport.js the login action is missing, causing it to return "Invalid Action."  I could be wrong, but in the current code base, there is no way to preform a passport local l

[2015-04-09 01:15] scott-wyatt commented on #35
I can verify that this works:

[code]
It just overrides the default callback method.  I hope that helps in your investigation.

[2015-04-09 01:23] bgulotta commented on #35
Hey Scott...The unit tests in this file show you how to authenticate: https://github.com/tjwebb/sails-auth/blob/master/test/unit/controllers/AuthController.test.js

[2015-04-09 03:30] scott-wyatt commented on #19
"Sending 500 ("Server Error") response: RangeError: Maximum call stack size exceeded" from @grantbi

I also get this error when using only the local protocol.  I've tried it on multiple fresh builds.  I've been trying to track it down and I'm thinking it may be a lodash version or merge-defaults version issue possibly even a node.js version error.  I've seen that in the bug reports in the past for

[2015-04-09 03:57] tjwebb commented on #19
Thanks @scott-wyatt, any help is appreciated, and I'm glad you're finding it useful.

I'll find a good contributors.md. In the meantime, if you submit a PR that fixes a legit problem and includes a couple unit tests so I can see what's going on, I'll merge it in.

[2015-04-09 04:13] scott-wyatt commented on #19
Sounds good.  I've tracked it down a little further by changing versions of node.js. It seems to be coming from some where in lodash.
After updating node to 0.12.2 this is the error i'm getting:

[code]
Still using:
sails: 0.11.0
sails-auth: 1.0.8

[2015-04-09 04:19] scott-wyatt commented on #35
Oh snap @bgulotta thanks man, I'll give it a go.

[2015-04-09 06:04] tjwebb commented on #19
The [unit tests](https://travis-ci.org/tjwebb/sails-auth/jobs/56332655) pass on node 0.12, so we'll want to contrive a failing test for this so we don't run into it again in the future.

[2015-04-09 10:04] willemmulder opened #36 "Email not transferred to SailsJS"
I implemented sails-auth using the below in the passports.js file

[code]

The twitter app has read/write permissions on my twitter profile. The auth also works, but then Sails crashes, because in User.js it tries to generate the Gravatar URL with 'this.email' which is not set at all. The generated user looks like this

[code]

Any clue why the email might not be filled?

[2015-04-09 10:36] tjwebb commented on #36
Do you mind filing this in https://github.com/tjwebb/sails-auth? I can help you out over there. Thanks.

[2015-04-09 10:36] #36 closed

[2015-04-09 11:17] willemmulder commented on #36
But... I just did :-)

Did you mean some other repo?

[2015-04-09 15:50] scott-wyatt commented on #35
@bgulotta is correct, you can just point a login form to /auth/local and login works. My initial assumption was wrong about the missing login function.

[2015-04-09 15:50] #35 closed

[2015-04-09 19:03] scott-wyatt opened #37 "Passport Policy Suggestion"
@tjwebb I've been digging around a lot of different implementations of Passport.js into sails, and I've found this really useful.  By updating policies/passport.js to this, it will allow socket passport authentication which I am seeing more and more of.

[code]
I've just tested this using:
Sails: 0.11.0
sails-auth: 1.0.8

[2015-04-09 19:41] tjwebb commented on #37
I'd love to incorporate this; would you like to submit a PR with this feature, along with a basic test showing how it works? Then I can update the docs and publish a new version with your improvements.

Thanks!

[2015-04-09 21:04] scott-wyatt commented on #37
Sure thing, will do.

[2015-04-10 02:39] scott-wyatt commented on #37
I've submitted a PR I ran a Mocha test on it and it passed (but again, I'm not great at the testing yet and any feedback is much appreciated). Super easy to add to your workflow and is great for things like Modal Logins or Login Confirmations especially while working with single page apps.  Personally I use angularSails with it, but you can do it with stock sails as well:
It accepts `'login', 'log

[2015-04-20 17:43] Esya opened #40 "Decoupling from sails.session, aiming to use JWT"
Hi,

I'm wondering how I can decouple my use of `sails-auth` from sails' session component, and maybe later have it work with no sessions at all. My goal in the end is to use tokens for both my frontend which is a single page app and later maybe external apps that rely on the API only.

I summed up my needs on [this stackoverflow question](http://stackoverflow.com/questions/29752803/how-to-handle-

[2015-04-20 18:43] tjwebb commented on #40
@Esya thanks for the feedback! I've seen interest in this; see also https://github.com/tjwebb/sails-auth/issues/9. I just haven't had the time in the past few weeks to implement this ability, but it's definitely something I'd like sails-auth to support. Are you able/interested in collaborating on this?

[2015-04-26 15:16] tjwebb commented on #40
@Esya have you looked at Waterlock? https://github.com/waterlock/waterlock

[2015-05-04 00:23] eddieajau commented on #18
Would it be possible to organise a hangout to perhaps discuss making this the "one auth to rule them all" solution and developing a roadmap for interested parties to work on?

I'm particularly interested in finding an installable hook solution for auth, but it also needs to be able to handle the option of not needing sessions (for example, for a RESTful JSON server). There's also the issue that a

[2015-05-12 03:50] secrettriangle opened #42 "Major issue, Google no longer supports OpenID 2.0"
Getting https://support.google.com/accounts/answer/6206245?p=openid&rd=1 on connect, Google auth is completely broken.

[2015-05-12 05:24] tjwebb commented on #42
Yikes; I think you might need to use a different passportjs provider for google

[2015-05-12 18:35] tjwebb commented on #42
@secrettriangle try installing the `passport-google-oauth` module and replacing the `passport-google` require statement in config/passport.js. If that works for you, I'll push a fix today.

[2015-05-13 03:22] secrettriangle commented on #42
I also found [jaredhanson/passport-openidconnect](https://github.com/jaredhanson/passport-openidconnect) by the same guy but my familiarity with OpenID and OAuth is cursory at best so I was not able to set it up.

[2015-05-13 23:36] scott-wyatt commented on #37
@tjwebb, this can be closed, it was fixed with the lastest merge.

[2015-05-13 23:36] #37 closed

[2015-05-14 17:15] secrettriangle opened #45 "How to GET current user?"

[2015-05-14 21:14] tjwebb commented on #45
what does "current" user mean? There could be 50 people logged in at once.

[2015-05-14 21:15] tjwebb commented on #42
You tried both passport-google-oauth and passport-openidconnect?

I'll look at it this weekend

[2015-05-14 21:22] secrettriangle commented on #42
I haven't tried both... I don't know how to use openidconnect. The PR is for OAuth2.

[2015-05-14 21:23] secrettriangle commented on #45
I want to determine who "I" am on load. I can store the username via cookie/localstorage/whatever but maybe it's cleaner to have some sort of controller that simply returns JSON of `req.user`?

[2015-05-14 22:10] tjwebb commented on #45
Oh ok; like, if the browser authenticates with some pre-existing session, I want to query whatever user that session belongs to.

I think by default you should be able to query the list of all users and only get back yourself in the list (if you have a session). If that doesn't work, I might have another bug somewhere.

[2015-05-14 22:19] secrettriangle commented on #45
Doesn't seem like it works. Doesn't sound very semantically correct anyway. Maybe we should add a `/user/me` endpoint?

[2015-05-14 23:00] secrettriangle opened #46 "Lifting the app after the first time throws errors trying to create an admin user that already exists"
[code]

[2015-05-14 23:18] dbkaplun opened #47 "Major issue, sails shuts down completely after GET instead of POST request to /auth/local"
[code]

[code]

[2015-05-15 02:16] tjwebb commented on #46
What adapter and sails-auth version are you using? I haven't seen this.

[2015-05-15 02:20] #42 closed

[2015-05-15 02:47] #45 closed

[2015-05-15 04:00] #7 closed

[2015-05-16 00:32] secrettriangle opened #49 "Attempted to `POST /register` with `identifier=admin@example.com&password=admin1234` shuts down server"
Attempted to `POST /register` with `identifier=admin@example.com&password=admin1234` instead of `email=admin@example.com&password=admin1234`...

[code]

[2015-05-16 01:40] tjwebb commented on #49
What is `identifier`?

[2015-05-16 01:59] secrettriangle commented on #49
I don't think it's used by `/register`. It was an accident; my intention was to use `email` instead which `/register` picks up. However the fact that not including `email` brought down the server is cause for a Github issue. :P

[2015-05-18 02:05] tjwebb commented on #49
Indeed

[2015-05-18 02:08] #49 closed

[2015-05-19 07:11] dbkaplun opened #50 "Add ?next= param to /logout"
Also to other routes if relevant.

[2015-05-24 16:05] luisincrespo opened #51 "Trying to POST to /user gives me 403"
Hey there.

I've configured sails-auth as you explain in your readme.

You say that one would normally POST to /user without a problem. But it's giving me 403:

    {
        "error": "You are not permitted to perform this action."
    }

Should I modify the config/policies.js you specify in your readme?.

[2015-05-24 20:34] tjwebb commented on #51
I'm not sure what this means; are you saying that you knowingly didn't follow all the instructions in the readme and also that something doesn't work?

[2015-05-24 23:54] #51 closed

[2015-05-25 03:07] tjwebb commented on #51
@luisincrespo is there a reason you closed this?

[2015-05-25 14:09] StoloADiane commented on #19
Hello World :)

I wanted to know if you did fix this issue ?
I've got the same error one Node.Js 0.1, Sails 0.10.5

[2015-05-26 03:04] luisincrespo commented on #51
Hey @tjwebb. Yep I followed all the instructions in the README and was getting the error I stated in the question. However, I closed this because I started using **waterlock**. You referred to it somewhere in your issues, when talking about JWT, which is what I needed. It's working fine for now, thanks for that referral.

[2015-05-27 01:46] scott-wyatt commented on #19
@StoloADiane, I would definitely make the switch to sails 11, but that still doesn't fix the issue.  I submitted a PR to the sails core for the patch and a few others have also, it may get pushed into the next version sometime.

[2015-06-03 14:48] maheshchari opened #52 "Local strategy update password"
I am trying to update password ,is there any guide or documentation ?

[2015-06-04 14:04] dbkaplun commented on #50
This needs to be added to `/auth/<provider>/callback` as well.

[2015-06-04 14:06] dbkaplun opened #53 "After logging in via Google, the resultant page shows the logged in user's JSON data rather than redirecting"

[2015-06-05 00:26] yshing opened #54 "Username always equal email when using user.register"
sails@0.11.0
sails-auth@1.2.2

When creating user by calling
[code]
The user created in database would end up being {username:'foo@bar',email:'foo@bar'}.

In the process User.beforeValidate is being called for 4 times.
with
user.username = undefined
user.username = foo@bar
user.username = foo@bar
user.username = foo@bar

[2015-06-05 04:12] dbkaplun commented on #53
Fixed, set `google: {callback: '/auth/google/callback?next=/', options: ...}` in `config/passport.js`.

[2015-06-05 04:12] #53 closed

[2015-06-05 10:23] JHereu commented on #51
I'd like to re-open this issue. I have the same problem. In my case, I just created a new fresh Sails 0.11 app and followed the instructions on how to install the sails-auth module (I'm interested in using local passport login). So, I'm supposed to be able to post users to /user even if I'm not logged, is that right? 'Cause if I have no users stored in my database, I cannot login anywhere, it's ki

[2015-06-05 14:39] cyrilchapon commented on #4
This is not aswered by any documentation in here, is it ?

[2015-06-05 18:43] mitom opened #58 "Invalid email address in user creation throws 500"
Trying to create a User by POSTing
[code]

results in a response containig `{}` with status 500 and the following logs:

[code]

I would expect the validation error to be returned, as it is when simply using the blueprints API.

[2015-06-05 19:06] mitom commented on #58
Apparently [all validation errors](https://github.com/tjwebb/sails-auth/blob/master/api/services/protocols/local.js#L40-L51) result in an 500 response during user creation with the local adapter.

Is this the expected behaviour..?

[2015-06-05 21:07] tjwebb commented on #58
Yea, it should return a 400, not a 500. Some of this is residual user-unfriendiness from the sails-generate-auth module that I originally used to set all this up.

If you can submit a PR I'd really appreciate it.

[2015-06-05 21:11] #50 closed

[2015-06-06 14:03] mitom opened #60 "Validation is broken"
Posting `{}` to `/user` results in a successful registration. Same with posting password-less, username-less or email-less registration in any combination. They produce broken users entries.

What is the expected behaviour here?

[2015-06-09 00:13] tjwebb commented on #46
Is this still an issue?

[2015-06-09 12:52] dbkaplun commented on #46
Yes it is. This happens on `master`, with the `sails-disk` adapter. You should be able to repro:
[code]

[2015-06-15 22:06] #58 closed

[2015-07-07 05:59] tjwebb commented on #47
Do you still run into this?

[2015-07-07 05:59] #23 closed

[2015-07-07 06:01] tjwebb commented on #18
I've updated the module to indicate that it's officially supported by Balderdash: https://github.com/tjwebb/sails-auth#maintained-by. We can't force everyone to use the same thing, but hopefully our backing will help drive adoption of our solution.

[2015-07-07 06:01] #18 closed

[2015-07-08 01:42] dbkaplun commented on #47
Nope!

[2015-07-08 01:42] #47 closed

[2015-07-08 17:41] tjwebb commented on #52
Good question; I'm not sure that this usecase is supported currently. I'll look into it.

[2015-07-08 22:40] tjwebb opened #63 "Include "user profile" info in Passport object"
### 1. Update `Passport` model
spec: http://passportjs.org/docs/profile
notes:
- `displayName` should equal `User.username`
- `emails` must contain `User.email`
- `photos` should contain the gravatar url currently generated in user
- all other fields should behave as they currently do
- `toJSON` should strip `password` and `tokens`

### 2. Update `UserController`
- `findOne` queries should always

[2015-07-08 22:42] tjwebb commented on #54
Are you still noticing this issue?

[2015-07-10 09:37] joenesy opened #64 "Using dropbox-oauth2"
So this had me confused for a little while. I'm was trying to use passport-dropbox-oauth2 to login, but ran into multiple issues. I had created the following object in config/passport.js

[code]
this gave the following error:

[code]

Apparently sails-auth is using the key value of the object (in this case "dropbox") to find the right passport. However the passport is called dropbox-oauth2, so it

[2015-07-11 17:44] mak4alex opened #65 "Local login doesn't work."
Hello! I try to login and post user's email and pass to /auth/local/ but it get 403 response. Method exports.login from sails-auth/api/services/protocols/local.js (123) doesn't called. Then i made some fix in sails-auth/api/services/passport.js (256):

[code]

to

[code]

It works alright, but looks bad. Can somebody help me use sails-auth in the right way?

[2015-07-11 22:16] kplatter opened #66 "hashPassword should not rehash a password that is already a bcrypt hash"

[2015-07-11 22:18] tjwebb commented on #66
detecting a hash is not really possible. "abc123" is a possible hash, but could also be someone's password.

[2015-07-11 22:30] kplatter commented on #66
A bcyrpt hash has a defined format see http://stackoverflow.com/questions/5393803/can-someone-explain-how-bcrypt-verifies-a-hash/10933491#10933491

[2015-07-11 22:42] tjwebb commented on #66
That doesn't solve the problem. see: https://github.com/tjwebb/sails-auth/blob/master/api/models/Passport.js#L12

What if a password is hashed with a different salt, or salt length? It'll look like a bcrypt password, but the comparison wouldn't work. Sorry, there's just no way I'm going to conditionally allow some passwords to enter the database un-hashed.

[2015-07-11 22:42] #66 closed

[2015-07-11 23:19] kplatter commented on #66
I was basing the detection off of $2a$%%$ and then any length after that, which would not care about salt or salt length.  Yes it is possible that a user could have a password of $2a$10$.... but how likely is that?  I have other users other than admin that I need to add and I don't store their password unhashed.  As it is there is no option for adding them to the database without having their unha

[2015-07-11 23:33] kplatter opened #67 "passport model should provide option to not rehash a password"
#66 I was basing the detection off of $2a$%%$ and then any length after that, which would not care about salt or salt length.  Yes it is possible that a user could have a password of $2a$08$.... but how likely is that?

I have other users other than admin that I need to add when the system is initialized and I don't have their unhashed password.  As it is there is no option for adding them to the

[2015-07-11 23:52] tjwebb commented on #66
You can send it in through the REST interface (`/user/create`, etc). This is just adding users in the typical way. Is there some other web service that you're used to which lets you send it pre-hashed user passwords? I've never seen this before.

That's not up to me to decide. People use all kinds of passwords with all kinds of special characters and various craziness. Creating a separate, special

[2015-07-12 00:04] tjwebb commented on #67
You mean you have passwords already encrypted by another system, in some other database somewhere? This module is designed to enable user authentication; it's not designed to be an ETL layer for migrating users from other sources. The correct approach here is to simply require users to update their passwords, and re-hash them at that time.

[2015-07-12 00:54] tjwebb opened #68 "Add configuration option for salt length"

[2015-07-12 01:29] kplatter commented on #66
SQL Server supports it see https://msdn.microsoft.com/en-us/library/ms189751.aspx

Oracle supports it see http://docs.oracle.com/cd/E17952_01/refman-5.5-en/create-user.html

MySQL supports it see http://www.techonthenet.com/mysql/users/create_user.php

I'm not sure how supplying a hashed password opens an attack vector any more than sending a clear text one does.  Each of the cases above provide o

[2015-07-12 02:28] tjwebb commented on #66
From the SQL Server docs:

There's a good reason for this, which I've mentioned. Here, **you** are migrating data, which is fine for you. This module is not designed to help you migrate data. It is designed to authenticate users.

[2015-07-12 02:50] #67 closed

[2015-07-12 12:20] kplatter commented on #66
They still provide the option, and these are not new logings but existing ones.  In any case, I'm not sure how to extend since the function is on the Passport model.  I guess I can create a new model for the Passport named PassportHash that has the same attributes and update the password without the rehashed password after the user is registered?

[2015-07-12 13:28] kplatter commented on #66
I overrode the beforeCreate, and beforeUpdate functions in api\models\Passport.js, is there some other more sailsish way to do it?

[2015-07-12 19:29] tjwebb commented on #66
Yea, currently the hashing is done in `Passport.beforeCreate`. You can override the `beforeCreate` function just by defining one in your local `api/models/Passport.js` inside the merge block. My implementation might look something like this:

[code]

[2015-07-12 22:32] #63 closed

[2015-07-12 22:33] tjwebb commented on #63
I am going to implement this differently.

[2015-07-13 09:56] bitsonic commented on #65
The regular this.authenticate does, work - however further documentation of the passport-local usage is Absolutely necessary in my opinion.

- Creating a user is probably done in most cases using either a username, email. Most developers probably expect values from local user models such as username, to transfer over to the required parameters necessary for login.

- This is not the case however;

[2015-07-22 12:03] Rohaan-I opened #70 "Sails auth now throwing sails.services.passport.loadStrategies() undefined error."
I was building an app using sailsjs and after week ago it was working fine but right now I'm getting this error. I did'nt change anything. The stacktrace is given below:-

/home/redbuffer/my_stuff/apps/AfterEidApp1/node_modules/sails-auth/api/hooks/sails-auth.js:4
      sails.services.passport.loadStrategies();
                             ^
TypeError: Cannot read property 'loadStrategies' of unde

[2015-07-24 14:53] peazz commented on #70
I have just installed and am also getting this error.

[2015-07-29 19:06] drouillard commented on #64
I have had the same issues with multiple attempts to create same user with standard google sign-in for what it is worth.

[2015-07-29 19:25] drouillard opened #72 "Google Sign in Issues"
New to Sails, spent many hours trying to get Google Sign-in via Passport. Here are issues I have encountered

1. It seems like I have to overwrite the google credentials in /node_modules/sails-auth/config/passport.js rather than my own config/passport.js. I am sure this is incorrect, but could not get it work by copying / pasting what was in the node module passport.js into my own. How do I make t

[2015-08-06 21:59] slavafomin commented on #72
If I understood correctly your `passport.js` should look like this:

[code]

However, I myself is having a very hard time to comprehend this module and make it work. Right now, I can't even load the site, it loads indefinitely and there is no error messages. If I remove the code above, it works, but with default (empty) ID/secret.

[2015-08-06 22:54] slavafomin opened #73 "How to redirect user after passport login?"
Hello!

I'm using passport login and `google` provider. After logging in, Sails returns JSON document with profile information. How do I redirect client to the page of my choice instead (e.g. homepage or profile page)?

Thank you.

[2015-08-07 06:16] vnc-zestfinance opened #74 "Need "user profile" info in passport or user object"
Please see #63 for more details.  Can I get an update on this issue?  Seems to be closed but what is the plan of implementing it?  I would like to access all the fields available for google + facebook.  It is not currently available and neither is there any hook or configuration where we could access the profile information.

[2015-08-07 13:07] kulakowka opened #75 "Why did you make GET/logout?"
Explain me why did you make logout using `GET /logout` ?

It's not safe. Anyone malefactor can insert a picture `<img src="http://yousite.com/logout" />` and your users will logged out.

It may be better to do `POST /logout`?

[2015-08-07 13:11] kulakowka commented on #73
You can use `/auth/local?next=/profile` for redirect user after sign in or sign up;

For example:

[code]

Look source for understanding: https://github.com/tjwebb/sails-auth/blob/master/api/controllers/AuthController.js#L118

[code]

[2015-08-07 16:28] kevintechie opened #76 "require lodash issue"
After I generate sails-api, I get an error that lodash can not be found. Is this expected behavior? Seems redundant to have to npm install it, when it's exposed as a sails global anyway.

[2015-08-10 12:54] loulin opened #77 "How to define passport config for different environments"
For example, I have different Github configs defined in env/development.js and env/production.js. The following setting will not work because sails is not initialised then.
[code]

[2015-08-10 13:01] loulin opened #78 "code issue"
[api/services/passport.js#L146](https://github.com/tjwebb/sails-auth/blob/master/api/services/passport.js#L146)
[code]
`query.tokens !== passport.tokens` should always be true because tokens is object.

[2015-08-11 16:50] kevintechie commented on #77
I require the appropriate environment js files based on the current process.env.NODE_ENV value.

[2015-08-12 02:23] btkostner commented on #74
I second this. Right now there is no way (that I know of) to add more information to the user model besides overwriting the passport.connect service.

[2015-08-12 17:52] kevintechie opened #79 "Protocol additions and changes are ignored"
When adding support for a new authentication provider and protocol, I discovered that the protocol files created by the generator in <project>/api/services/protocols are ignored by the protocols require statement in the node_modules/sails-auth/api/services/passport.js.

I was able to resolve this by overriding the protocols method by adding the following line to the <project>/api/services/passport

[2015-08-13 13:58] slavafomin commented on #73
Thank you @kulakowka for your response. I've managed to achieve the desired result by editing the `config/passport.js` file:

[code]

However, I have to problems with it:

1. I don't like that I have to specify an absolute path here, because the domain name (and port) will depend on environment and I don't want to hardcode the domain name.

2. I have to specify return URL as a part of callback URL

[2015-08-13 14:24] kulakowka commented on #73
Maybe you can use `callbackURL: http://localhost:1337/auth/google/callback?next=/after_login`

Then in action `/after_login` you can redirect user to the right place.

The endpoint for redirection may be stored in a cookie, for example.

[2015-08-13 14:28] slavafomin commented on #73
That's a smart idea @kulakowka, thanks!

However, I still don't like the idea of overriding the `callbackURL` for each individual provider. Maybe this idea of using special `after-login` route could be implemented in the module itself? Then each user will be able to override it and replace with custom redirection logic.

[2015-08-13 14:56] slavafomin opened #80 "Missing E-Mail when authenticating via Vkontakte"
I've implemented the VK oAuth 2 authentication this way in `config/passport.js`:

[code]

However, the E-Mail is missing from the created user profile. What could be the problem? VK should return E-Mail cause it supports `email` scope. Here's the issue on the provider repo: https://github.com/stevebest/passport-vkontakte/issues/16.

[2015-08-18 12:05] mkaag commented on #70
+1

[2015-08-19 15:07] drouillard commented on #72
Thanks. I will give that a shot

[2015-08-19 15:07] #72 closed

[2015-08-20 10:29] MishY111 opened #81 "Just starting out. Validation issues"
I have added the following to api/models/User.js

    // api/models/User.js
    var _ = require('lodash');
    var _super = require('sails-permissions/api/models/User');

    _.merge(exports, _super);
    _.merge(exports, {
    // Extend with custom logic here by adding additional fields, methods, etc.
    schema: true,

    attributes: {
      firstname: {
        type: 'string',
      required:

[2015-08-20 12:47] iam-medvedev commented on #80
[code]

[2015-08-20 13:03] MishY111 commented on #81
I wonder if this is related to this bug: https://github.com/tjwebb/sails-permissions/issues/110

(Sorry if this issue should have been raised in sails-permissions).

I did the fix when setting up sails-permissions and sails-auth in order to get the generator working, but wonder if the generator generates config files that don't have the right paths following the fix.

[2015-08-20 13:39] slavafomin commented on #80
Thank you for a code snippet @iam-medvedev , however I do not have such a code in my project. I think that `sails-auth` is encapsulating this functionality somewhere. Is it possible to work around this issue in my application realm or do we need to update the `sails-auth` itself in order to achieve this?

Thank you!

[2015-08-20 13:53] MishY111 commented on #81
I don't believe the above issue relates to this having tested more.

[2015-08-23 16:17] slavafomin opened #83 "How do I use local auth?"
Hello!

I'm trying to use `sails-auth` in one of my projects and I want to use only `local` strategy. I've tried to figure it out manually, but failed to do so without any proper documentation.

I have the following questions:

1. What do I need to disable in order to have only `local` strategy? I don't want to leave any loopholes.

2. How do I sign user in? I've tried to send POST requests to the

[2015-08-24 21:55] iagocaldeira commented on #83
I am sending posts to /auth/login with Email and password, you can use Passport's OAuth in order to get a safer login authentication.

My policies are inside Routes.js and Policies.js
You should have something like that:

config/Routes.js
[code]
Policies/isAdmin.js
[code]
**Don't forget to set `authMethod.createOnNotFound: false` inside `config/waterlock.js`**

You also would have register functio

[2015-08-26 08:36] shvelo opened #84 "App no longer works after introducing marlinspike."
Unable to load custom protocols because sails-auth now calls loadStrategies before my protocols are loaded.

[code]

[2015-08-26 15:41] kevintechie commented on #84
shvelo,

This is due to a bug I mentioned. Please see my post for a fix: https://github.com/tjwebb/sails-auth/issues/79

[2015-08-26 16:42] tjwebb commented on #84
Also, the marlinspike introduction corresponds with a new major version (2.0). I'll be working on documenting an upgrade path.

[2015-08-26 16:43] tjwebb commented on #79
@kevintechie have you looked at the protocols index? https://github.com/tjwebb/sails-auth/blob/master/api/services/protocols/index.js

[2015-08-26 19:20] kevintechie commented on #79
Yes. You have to do both, override the protocols require statement and add the new protocol to the project-local protocols/index.js file.

[2015-08-28 01:33] ryanwilliamquinn commented on #83
There is more information in the wiki than on the readme.  Here are some answers, anyway:

1. You don't have to do anything if you are only using local strategy.  None of the other strategies are preconfigured.

2. See here for logging in: https://github.com/tjwebb/sails-auth/wiki/Logging-In

3. The readme has basic policies.js setup information:
[code]
The policies above secure everything by defa

[2015-08-28 01:35] ryanwilliamquinn commented on #81
I would try putting all of those parameters into the post request body, rather than the query string.  Let me know if that makes any difference for you.

[2015-08-28 16:04] wbprice opened #85 "Can't use local authentication with 2.0.0-alpha2"
Following [this guide](http://threeninetyfive.net/blog/2015/07/14/sails-permissions-by-example/), I was unable to authenticate passing identifier and password to ```POST /auth/local```.  After downgrading sails-auth to 1.3.1, everything works as expected.

[2015-08-30 13:15] mo4islona opened #86 "No generator called `auth-api` found;"
Sails version is 0.11.0
Sails-auth version is v2.0.0-alpha2

.sailsrc
[code]

[code]

[2015-08-30 14:13] ryanwilliamquinn commented on #86
I would try using the latest 1.x version of sails auth

[2015-08-31 13:41] sylvainlap commented on #76
+1

[2015-08-31 14:39] sylvainlap opened #87 "local strategy, POST /auth/local return 403"
Hello,

I tried sails-auth (v1.3.1), and followed the README.

I created a new user thanks to POST /user, with {"email":"admin@example.com","password":"admin123"}, and then tried to login thanks to POST /auth/local with the same body, and sails-auth returns a 403 error. What am I doing wrong ?

Thanks,
Sylvain

[2015-08-31 15:11] ryanwilliamquinn commented on #87
https://github.com/tjwebb/sails-auth/wiki/Logging-In

To login, you should send identity and password.

[2015-08-31 15:47] sylvainlap commented on #87
Yes, it worked. Thanks !
And is that possible to set the identifier as another attribute, for example the username instead of the email ?

[2015-09-01 15:24] drouillard commented on #72
Ended up not using Sails Auth at all.

https://developers.google.com/identity/sign-in/ios/backend-auth

https://github.com/google/google-api-nodejs-client/

    var google = require('googleapis');
    var plus = google.plus('v1');
    var OAuth2 = google.auth.OAuth2;
    var oauth2Client = new OAuth2(CLIENT_ID, CLIENT_SECRET, REDIRECT_URL);

    // Retrieve tokens via token exchange explained abov

[2015-09-02 09:56] slavafomin opened #88 "User.register creates users even without any input data"
Hello!

I'm developing a registration for local users in my app and encountered a strange behavior of the `User.register` function. When this function is called without any input data (e.g. `{}`) it still creates an empty new user without data, no errors are thrown.

Here's my controller action:

[code]

When POSTed with empty body it produces this entity:

[code]

[2015-09-03 09:40] MishY111 commented on #81
Thank you. You were absolutely right.

[2015-09-03 09:40] #81 closed

[2015-09-07 15:20] ayyappaappana opened #89 "serverError is not throwing error object on --prod"
Hi All,

Some kind of confusion, there is no keywords like res.serverError, res.BadRequest, is working in productions mode.

My configuarations are something like :

sails-auth : 1.3.1
sails-permissions : 1.4.2

sails.services.passport.protocols.local.register(req.body, function (err, user) {
        //if (err)  return res.status(500).send(err);
        if (err)  return res.serverError(err);

[2015-09-08 12:54] sylvainlap commented on #88
:+1:

[2015-09-08 13:11] sylvainlap opened #90 "Empty password with local auth"
When creating a new user with local strategy (POST /user), the password can be empty.
The password field shouldn't be required ?

[2015-09-08 21:02] rscnt commented on #85
So you except to have them reading all the content from that blog post?

Can you please share more information, like the data you're sending, sails version, passport version and a code snippet

[2015-09-09 01:53] wbprice commented on #85
Hi Raul. I've spoken about this with both of the maintainers of `sails-auth` pretty extensively (one of whom wrote the article), so they're aware of the details.  However:

### Replication Steps
- Follow setup steps 1 and 2 in this `sails-permisssions` [guide](http://threeninetyfive.net/blog/2015/07/14/sails-permissions-by-example/).
- `POST /auth/local/`, passing `{ identifier: admin, password: a

[2015-09-14 06:09] ayyappaappana opened #91 "req.session.passport.user"
Hi All,
                   I am trying to implement sessions expiry part in my userLogin Data. After login, req.session is looking like..
{ cookie:
   { path: '/',
     _expires: null,
     originalMaxAge: null,
     httpOnly: true },
  passport: { user: '55f651370c0e9d1c0da51400' },
  authenticated: true }

Config is something like :
session: {
    secret: '757019661f534ea699ffefe7107e2654',

[2015-09-15 21:20] joniba opened #93 "Navigating to /auth/google causes an error"
Any idea what could be the issue? (First time using sails and passport)

error: Sending 500 ("Server Error") response:
 TypeError: Cannot read property 'initialize' of undefined
    at module.exports (c:\code\node\bidding\demo\node_modules\sails-auth\dist\api\policies\passport.js:35:11)
    at routeTargetFnWrapper (C:\Users\me\AppData\Roaming\npm\node_modules\sails\lib\router\bind.js:179:5)
    at

[2015-09-15 21:27] tjwebb commented on #93
Did you install/configure the google passport plugin?

[2015-09-16 04:00] joniba commented on #93
Yes of course. But I'm not clear on if/where/how I should be configuring the GoogleStrategy in my code...?

[2015-09-19 19:01] joniba commented on #93
I created a sample to replicate this error here: https://github.com/joniba/test-sails-auth

This sample was created by running the following commands (windows 7):

I also updated config/policies.js as you describe in the setup

Is something additional required in order to make this work?

[2015-09-21 11:11] wasd171 commented on #85
I confirm this issue with `sails-auth@2.0.0`

[2015-09-23 13:54] danielsharvey opened #95 "Marlinspike documents Sails 0.12 dependency - will latest sails-auth work with Sails 0.11?"
I have tried the latest sails-auth and something is not right. It looks like controllers are not there.

Marlinspike documents a Sails 0.12 dependency.

Will the latest (2.0.0) sails-auth work with Sails 0.11? It appears to not report errors but I cannot seem to see the needed controllers.

Thanks

[2015-09-24 12:18] ayyappaappana opened #97 "Sails-Auth req.secure Override"
How to override req.secure to work even if it is http request.
http://localhost:80/user/:userid/something

{
error: "https required for basic auth. refusing login request"
}

xyzController is having BasicAuth policy is extended for the Endpoint Action.

[2015-09-25 18:38] justinwatkins opened #98 "Duplicate user error when an unauthenticated user tries to login with an external provider when already having a local identity."
from api/passport.js.  connect method
// Scenario: A new user is attempting to sign up using a third-party
        //           authentication provider.
        // Action:   Create a new user and assign them a passport.
        if (!passport) {
          return sails.models.user.create(user)
            .then(function (_user) {
              user = _user;
              return sails.models.passport

[2015-09-26 01:45] sachanganesh commented on #70
+1

[2015-09-26 16:07] manuel140 commented on #70
+1

[2015-09-28 14:36] s-devaney commented on #76
+1

[2015-09-29 14:22] GiantCrocodile commented on #70
+1
happening with sails latest stable

[2015-09-29 15:13] mariantatarau commented on #70
i have the same issue

[2015-09-29 19:31] tjwebb commented on #70
What version of sails are you guys running?

[2015-09-29 19:49] manuel140 commented on #70
@tjwebb I'm running v0.11.2

[2015-09-29 20:01] GiantCrocodile commented on #70
Same version on Windows 10 64-bit @tjwebb .

[2015-09-29 22:28] sachanganesh commented on #70
@tjwebb I'm in the same boat; I'm running the same version as manuel140 and GiantCrocodile on Ubuntu.

[2015-09-30 03:53] tjwebb commented on #70
And this is happening on sails-auth 1.3.1?

[2015-09-30 05:25] 2c2c commented on #70
[code]

[2015-09-30 10:58] sylvainlap opened #99 "BasicAuth deactivated when http"
Hi,

For my application, I need BasicAuth. I'm aware that for BasicAuth, https is mandatory. However, in my PROD environment, https is handled by nginx, not sails. So, that piece of code in api/policies/basicAuth.js is irrelevant:

[code]

Because even if the sails req is not secure, security is handled upstream thanks to nginx.

What about removing this check ?

[2015-09-30 10:59] sylvainlap commented on #97
+1

[2015-09-30 11:06] ayyappaappana commented on #97
@sylvainlap I got it by adding securityLevel : 1 in env/production.js and fixed it. But exactly dont know how come it happens , i havent gone thru in depth.

[2015-09-30 11:12] sylvainlap commented on #97
securityLevel is a CORS options in sails. What is the connection ?

[2015-09-30 11:20] ayyappaappana commented on #97
My Senario is to implement basicAuth module, hence it checks for req.secure method and always shud be true, bcoz it expects req always https , we tried to override that method in cors options using securitylevel.

[2015-10-01 03:32] #99 closed

[2015-10-01 07:57] ayyappaappana commented on #97
@sylvainlap  Yes your correct, did you got any solution.?

[2015-10-01 08:00] sylvainlap commented on #97
It has been fixed by https://github.com/tjwebb/sails-auth/pull/100

[2015-10-03 10:50] sunnycmf commented on #70
:+1: I run into same problem on Sails version: 0.11.2, sails-auth 1.3.1

[2015-10-04 14:09] BipinBhandari commented on #70
+1

[2015-10-06 18:30] dottodot opened #101 "Can only create user using user create action"
v1.3.1

It seems the only way to create a user is via the user create action. For example if I create a user on a different route but still using `User.create` the user model is created but the passport model isn't. Is there something I'm missing to properly create a user on a different route?

[2015-10-06 18:35] dottodot commented on #101
Typical, just after posting this found the answer on sails-permissions. Need to use `User.register` instead

[2015-10-06 18:35] #101 closed

[2015-10-06 19:33] bmatto commented on #70
+1

[2015-10-06 23:38] danielsharvey opened #102 "Controllers/etc to be loaded by marlinspike hook appear not to be loaded"
I'm using

    "sails": "~0.12.0-rc3",
    "sails-auth": "^2.1.1"
    "marlinspike": "0.12.13"

running on Node v4.1.2 but am having problem.

Lifting sails states in logging that it is loading models/controllers etc for sails-auth but they are not loaded:

    debug: hookPath: /home/daniel/crypto/projects/x/sails-getting-started/test-node-4.1.1/node_modules/sails-auth/dist/api/hooks/auth
    debu

[2015-10-07 14:12] ouadi commented on #70
I'm running into the same issue. Details of my context:
* Sails: 0.11.2
* Sails-auth: 1.3.1

To reproduce the issue:
* sails new webapp
* cd webapp
* npm install sails-auth --save
* sails lift

[code]

[2015-10-07 19:39] ouadi commented on #70
@tjwebb

As you might know, the issue is due to the fact that `sails services` are loaded after `sails hooks` in versions `0.11.0` and `0.11.2` that I have tested.

It is more logical that all components of a `hook` are loaded before the `hook` itself (which was assumed by the developer of the `hook`).

In all case, would you please be kind and point versions of `sails` and `sails-auth` that work

[2015-10-08 21:50] kddubb commented on #70
+1

Does anyone have a workaround?

[2015-10-09 08:32] ouadi commented on #70
It looks like it is a 'hard to solve malfunction': the hook expects that its services have been loaded before it gets loaded itself, which is not the case. In addition, both Sails.js and sails-auth hook are far away from there latest release 1.11.2 and 1.3.1 respectively. So, I expect that the solution from sails.js team will take time.

Till then, I'm using now passport.js directly. People intere

[2015-10-09 08:38] sunnycmf commented on #70
@ouadi yup i also considering to use passports directly, but we may need to glue diff libraries by ourselves and also need to consider when to switch back to sails.

[2015-10-09 08:54] ouadi commented on #70
I hope that our friends in sails team get quickly a time slot to solve this issue as it is a `show stopper` for two great extensions: sails-auth and sails-permission. They are doing a great job so far and I'm all hope that they keep up on the level of excellence.

[2015-10-10 07:50] dottodot opened #103 "How to include hostedDomain param in Google Oauth2"
When using passport-google-oauth there are extra params that you can use for example hostedDomain so you can restrict access to a particular google app domain as described [here] (http://www.mathewgoldsborough.com/2014/04/29/passport-for-google-apps-hosted-domains.html).

However I can't work out how to include this param, I have tried the following but I doesn't work.

[code]
I've also tried it o

[2015-10-10 16:16] duncanmapes opened #104 "Policies missing"
I am trying to set this up and I am getting an error on startup

[code]

Do I need to manually copy those policies into my code?  I thought they should be hooked in, but maybe the docs are wrong?

[2015-10-10 21:24] igorteton commented on #40
It's great that Waterlock exists; however, I'm trying to use https://github.com/tjwebb/sails-permissions which directly depends on sails-auth.
Basically I just want to touch base on this question and check if there was any progress on this feature (implementing JWT into sails-auth)?

[2015-10-11 08:01] dottodot opened #105 "Linking an existing account when authenticating with a different provider"
At the moment all my users can login using the local method however I would like to add an option to login using Google.

However when I try and login with an account that already exists I get the error "A record with that `username` already exists"

Is it possible to have multiple login protocols and if so how to I get it to link the accounts that already exist?

[2015-10-11 17:08] dottodot commented on #52
Has there been any progress with this, could really do with being able to update passwords.

[2015-10-12 13:28] mnickell commented on #103
I had the same issue.  I fixed it by editing the endpoint method in `api/services/passport.js`, specifically setting options to be the provider options, rather than always set to `{ }`

[code]

[2015-10-13 13:38] fubaydullaev commented on #35
Hi guys !

I wonder when action becomes "login" as it sends me undefined all the time ?

      var action = req.param('action');

      if (action === 'register') {
        res.redirect('/register');
      }
      else if (action === 'login') {
        res.redirect('/login');
      }
      else if (action === 'disconnect') {
        res.redirect('back');
      }
      else {
        // make sure t

[2015-10-14 06:51] fubaydullaev opened #106 "Action Login issue"
Hi guys !

I wonder when action becomes "login" as it sends me undefined all the time ?
[code]

And this logic works in sails-generate-auth and it's a bit different:
[code]

[2015-10-14 22:24] samlroberts commented on #79
Does anyone have a good workaround for this right now? I'd rather not have to edit files within my node_modules folder for my project.

[2015-10-15 10:35] MindRave opened #107 "sails.services.passport throwing issue"
Hello everybody!

Here's an error I've just spent two hours on (error thrown when posting on the login route):
"TypeError: Cannot read property 'initialize' of undefined at module.exports (/Users/JohnDoe/Developer/project_name/node_modules/sails-auth/dist/api/policies/passport.js:35:11)"

That line is the following:
var passport = sails.services.passport;

Due to the issue, the server was throwing

[2015-10-16 00:16] palmtale commented on #93
I found the same issue.
And You can debug with breakpoint at that line where throw the exception, you will find
<img width="1012" alt="2015-10-16 8 04 25" src="https://cloud.githubusercontent.com/assets/3959534/10530691/bd045778-73dc-11e5-83bf-da8895af4c7f.png">

And I checked , found the sails.service.passport did not be hooked by sails-auth.  So...

[2015-10-17 17:43] synaxin commented on #70
I was just trying to start a fresh project and encountered this (My luck, the day  I start...)

While this might not be an acceptable production work around, it got me developing:   by uninstalling sails v0.11.2, and reinstalling sails@balderdashy/sails, then in my project specifically installing sails-auth@2.1.1

[2015-10-19 12:26] anissen commented on #107
I have got the same issue and have yet to get `sails-auth` to work. Using `sails-auth` 2.1.1 and `sails` 0.12.0-rc3.
Any help would be appreciated.

[2015-10-19 14:43] dottodot commented on #103
Works great thanks for your help.

[2015-10-19 14:43] #103 closed

[2015-10-19 16:03] dottodot commented on #105
OK I've worked out what the issue is. If a user already has a local account the only way they can currently link their account with a 3rd party provider i.e Google, is if they login first and then connect.

The problem here is my login form has 2 options, the traditional local login and login with Google, but if they select Google without having connected their account previously it will check to

[2015-10-19 17:04] MindRave commented on #107
+1 (I know "plus ones" aren't great but I agree with @anissen - It'd be great to get some help. Thank you!)

[2015-10-19 17:12] kddubb commented on #70
Thanks for the workaround @synaxin

[2015-10-20 14:36] gunish commented on #107
+1

[2015-10-20 19:47] orouji commented on #107
I'm having the same problem. +1

[2015-10-21 04:22] shaunc opened #108 "Using a custom strategy?"
I would like to use https://github.com/leftmostcat/passport-oauth2-password-grant, customizing to provide my own `userProfile()`. In `config/passport.js` I have:

    var PasswordGrantStrategy = require('passport-oauth2-password-grant');
    var inherits = require('util').inherits;

    function CraneGrantStrategy() {
      PasswordGrantStrategy.apply(this, arguments);
      ...
    }
    inherits

[2015-10-22 06:37] btkostner commented on #102
Same here.

"marlinspike": "^0.12.14"
"sails": "~0.12.0-rc3"
"sails-auth": "~2.1.1"

Node version: v4.2.1

[code]

No route are working, nor any log messages besides the above ones.

Patched due to balderdashy/sails#3176

[2015-10-22 12:37] danielsharvey commented on #102
It seems to me that marlinspike needs the latest sails. I managed to make some progress using master:

    npm install sails@git://github.com/balderdashy/sails.git#master

What I'm using:

    "marlinspike": "0.12.13"
    "sails-auth": "^2.1.1",
    "sails-permissions": "^2.1.8"

A little bit bleeding edge but the only thing I could get to work.

[2015-10-22 19:36] btkostner commented on #102
Can confirm, using:

[code]

sails-auth works without any further problems.

[2015-10-22 22:54] aratcliffe commented on #107
Same here +1

[2015-10-23 12:01] MindRave commented on #107
Hey everyone!

On my end, I managed to find a "solution" (so to speak, because it's more of a workaround than a real solution) by removing sails-auth entirely (npm uninstall sails-auth) and by using passport directly.

The solution resembles more or less what you can find in this write up on "I Like Tomatoes":
http://iliketomatoes.com/implement-passport-js-authentication-with-sails-js-0-10-2/

On

[2015-10-24 11:44] fredericlefeurmou commented on #70
+1

[2015-10-25 08:05] #102 closed

[2015-10-25 23:35] danielsharvey commented on #95
No, seems not. See https://github.com/tjwebb/sails-auth/issues/102

[2015-10-25 23:35] #95 closed

[2015-10-26 20:55] dottodot opened #109 "Migrating users already hashed by bcrypt"
I currently have a database of users that were hashed using bcrypt but I'd like to migrate them so that I can use sails-auth and sails-permissions. Is it possible to this, tried just coping the passwords into the passport model but I couldn't login so I'm assuming it can't be done.

[2015-10-27 04:23] toddgeist opened #110 "how to extend the user model?"
Is there a way to extend the User model with additional Attributes?

[2015-10-27 04:33] toddgeist commented on #110
answering my own question...

in `api/models/User.js`
just add the additional attributes you want.  Like this
[code]

[2015-10-27 04:33] #110 closed

[2015-10-27 05:20] tjwebb commented on #110
yep!

[2015-10-27 06:23] tjwebb commented on #109
see discussion in #67

[2015-10-27 06:23] #109 closed

[2015-10-27 16:22] toddgeist opened #111 "how to handle email verification and password reset?"
Are there any examples of how to handle email verification and password reset?

Thanks

[2015-10-27 19:32] ryanwilliamquinn commented on #73
Try setting `callback` on the provider, rather than callbackURL in the options.  callback should be a relative path, like: 'auth/google/callback?next=/after_login'

[code]

[2015-11-07 02:51] mschraeder commented on #107
I'm getting this on a fresh install.

[2015-11-09 11:46] elennaro commented on #79
@kevintechie, can you please explain more detailed, how to override the protocols require statement?

[2015-11-09 17:57] kevintechie commented on #79
@elennaro,

There's nothing more to overriding the protocols require statement than adding the line I mentioned.

This is needed because the sails-auth module references the protocols directory relative to its local passport.js file. Using the override in your project's passport.js file causes the protocol files to be referenced relative to your project.

[code]

[2015-11-09 20:04] elennaro commented on #79
Thank you! I'll give it a try!

[2015-11-10 06:20] tjwebb commented on #111
There's actually currently no built-in way to do this easily, but this would be great feature-add.

[2015-11-12 21:05] stratboy opened #112 "Marlinspike doesn't inject elements"
Hi, I'm currently on sails 0.11.2. Using a fresh test sails app. I've installed marlinkspike. Then sails-auth. But the auxiliary sails-auth services, controllers etc don't get injected. Also, I guess as a consequence, upon lifting I get this kind of error:

[code]

Any idea?

[2015-11-12 22:28] tjwebb commented on #112
The latest version of sails-auth currently only works with `balderdashy/sails` on master.

[2015-11-13 06:49] stratboy commented on #112
ok thank you

[2015-11-13 07:05] stratboy commented on #112
installed 1.3.1 but same problem. Same error and also marlinspike seems not to work. Here's my current deps list:

    "ejs": "~0.8.4",
    "grunt": "0.4.2",
    "grunt-contrib-clean": "~0.5.0",
    "grunt-contrib-coffee": "~0.10.1",
    "grunt-contrib-concat": "~0.3.0",
    "grunt-contrib-copy": "~0.5.0",
    "grunt-contrib-cssmin": "~0.9.0",
    "grunt-contrib-jst": "~0.6.0",
    "grunt-contrib-

[2015-11-13 15:53] ParanormalCoder commented on #104
See #126

[2015-11-14 00:19] kevintechie commented on #112
According to the docs, marlinspike is not compatible with sails 0.11.

[2015-11-14 11:30] stratboy commented on #112
Mmm you're right, ok. Given that, so I should use sails-auth only with sails v0.12.x? But it's not currently released, so, not production ready, I guess?

[2015-11-15 00:01] tjwebb commented on #112
@stratboy marlinspike is not even used in sails-auth 1.3.x, so there's no way you're seeing that error on sails-auth 1.3.1. Make sure you've got the right node modules installed.

[2015-11-15 07:29] stratboy commented on #112
Ok thank you, but is sails v0.12 (so with sails-auth + malinspike) already somewhat suitable for production? In fact, I'm using it for a small side project that it will go live in no less than some months for now. Could I maybe already stick on v0.12?

Travis Webb wrote:

[2015-11-16 18:21] GeekLad commented on #52
I added the afterValidate [lifecycle callback](http://sailsjs.org/documentation/concepts/models-and-orm/lifecycle-callbacks) to my User model to perform the password update when a password is passed in:

[code]

It's probably not the best implementation but it works.  It results in the password being updated twice on creation, since the afterValidate callback is made on both create and update.  I

[2015-11-16 23:47] scott-wyatt commented on #52
@GeekLad I took what you have an changed just a few things.  This just makes sure that it sets the protocol as local (incase a user has multiple passports, but they can only have one local passport) and then made sure to delete the password after it's been updated so that it doesn't make it to the update lifecycle.

[code]

[2015-11-17 16:42] LeonardoGentile commented on #40
+1

[2015-11-17 17:04] talamaska opened #113 "Generator missing?"
Have you deleted the generator on purpose?
If so, can we have an explanation step by step how to configure everything, cause now the readme is unclear and not fully explained?

[2015-11-18 11:41] LeonardoGentile commented on #40
![sails_passport_auth](https://cloud.githubusercontent.com/assets/412061/11240155/b2d0eb6c-8df0-11e5-831d-0005950631db.png)

This pic shows a small recap of how things are supposed to go. As I see it the problem comes from the two steps:
- connect
- login

During the __connect__ phase we asses the currently logged in user by checking `request.user`. As I understood, this is populated by `request.l

[2015-11-19 18:55] GeekLad commented on #52
Even better, thanks!

On Mon, Nov 16, 2015, 6:47 PM Scott B. Wyatt <notifications@github.com>
wrote:

[2015-11-21 05:04] sunnypatel commented on #70
@synaxin :+1:

[2015-11-21 05:05] tjwebb commented on #70
We will try to address this soon. Thank you all for your support.

[2015-11-23 14:56] GeekLad commented on #52
@scott-wyatt For some reason, this no longer works for me and I have no idea what I did to break it.  When I run in debug mode and inspect the ```afterValidate call```, ```this``` is assigned to the ```global``` object instead of the ```User``` instance that is being updated.  Any idea what may be causing this?

[2015-11-24 06:37] ronenteva commented on #113
+1

[2015-11-24 07:21] ronenteva commented on #70
+1

[2015-11-24 16:20] sunnypatel commented on #70
Not to throw this hardworking team under the bus, do appriciate their work, but I tried Waterlock and it works like a charm!

[2015-11-24 21:26] scott-wyatt commented on #52
@GeekLad, hmmm, I just ran test on it, and it is working perfectly in my use case...  I always place my lifecycle callbacks in an array so that they can be merged with imported models. What version of sails are you using?

[2015-11-26 00:05] GeekLad commented on #52
v0.11.2

[2015-11-26 02:13] scott-wyatt commented on #52
@GeekLad just curious, if you change it back to what you had before does it work for you?  Also, could you perhaps paste some of your User.js file here? I'd be happy to take a look.  Mine is going to likely be a lot different than yours because I port generous portions of sails-auth and sails-permissions (thanks @tjwebb ) over to a hook called [humpback-hook](https://github.com/calistyle/humpback-

[2015-11-26 02:54] drj-io opened #114 "sails-auth module gives “Cannot read property 'loadStrategies' of undefined” on update"
This is from a repository that I originally started in sails .11.0.0. Later cloning my app repo and doing npm install breaks my app.

$ sails lift

info: Starting app...

/home/david/x/webapp/node_modules/sails-auth/api/hooks/sails-auth.js:4
      sails.services.passport.loadStrategies();
                              ^
TypeError: Cannot call method 'loadStrategies' of undefined
    at Hook.initia

[2015-11-28 23:41] elBarkey commented on #107
+1
sails-auth@2.1.1
sails@0.12.0-rc3

[2015-12-01 08:50] klaoha06 commented on #114
+1

[2015-12-01 14:29] klaoha06 commented on #114
[same issue](https://github.com/tjwebb/sails-auth/issues/70)

[2015-12-02 09:25] dominicrico commented on #113
1+

[2015-12-02 13:21] GeekLad commented on #52
@scott-wyatt I'm not really sure what changes I made that broke it.  Here's what I have in User.js right now:

[code]

I put some stuff in there for an email validation token, so that an email can be sent to the user with a link for them to verify their email address.  To fix the problem I'm having with the ```this``` object, I'm passing in the user ID in as part of the request, so that's why you

[2015-12-02 15:30] scott-wyatt commented on #52
@GeekLad for tokens first I consider if it would better be done emulating Basic Auth (base encoding the email address and password), that way I don't need to set or store it.  Sometimes an actual token is needed in addition to Basic Auth, for that I like [shortid](https://www.npmjs.com/package/shortid) because you can make unique and url friendly tokens.  At least, that is my logic lol. I do try t

[2015-12-04 22:18] befreestudios commented on #114
+1 Having same issue.

[2015-12-07 14:49] talamaska commented on #107
It is said in the sails docs how to call services
http://sailsjs.org/documentation/concepts/services/creating-a-service

You should be able to call the Passport service directly.

[2015-12-07 17:24] foobar8675 opened #115 "Passprot remember me"
Does this library work with https://github.com/jaredhanson/passport-remember-me ? I'm looking into implementing remember me in sails, and the stack overflow answers don't exactly feel right.

[2015-12-10 23:29] AndrewNg commented on #113
+1

[2015-12-11 10:42] martinbeentjes commented on #70
I experienced the same problem. After a bit of googling I received http://stackoverflow.com/a/33858548/2685471.

[2015-12-12 06:28] maujee commented on #113
+1

[2015-12-12 20:14] fernandolguevara commented on #113
+1 @tjwebb

[2015-12-15 13:21] romu70 opened #117 "Question: Some newbie examples?"
Hi,
I'm a back end newbie. Indeed, I'm a web development newbie even if I've a pretty long time in computing.

I've chosen Sails because it seems pretty easy, with similar concepts as in RoR, which I tried to learn some years ago. I've got a basic knowledge about those concepts from routing, MVC (which I've used on desktop apps), db layers, etc.

Authentication is a must have when we talk about we

[2015-12-15 16:49] ronenteva opened #118 "Roadmap: Migrating sails-auth to Trails.js"
@tjwebb now that you're working on trails, should we expect no further development of sails-auth?

[2015-12-16 05:18] tjwebb commented on #118
@ronenteva We are still maintaining the project, but any new features or major updates will be mostly likely implemented in Trails.

[2015-12-16 16:10] alerdenisov opened #119 "How to add fields to User model?"
I need to profile and extra data on User, but doesn't want to change User model in module. What i need to do?

[2015-12-17 08:59] romu70 commented on #117
Just saw the team as moved to Trails, so forget my question.

[2015-12-17 08:59] #117 closed

[2015-12-17 15:45] muradaliyev commented on #70
Another workaround you can try:

Create passport.js file under <project>\api\services and put this code inside:
module.exports = require('sails-auth/api/services/passport');

[2015-12-17 20:47] tjwebb commented on #118
More info on the trails.js roadmap: https://github.com/trailsjs/trails/blob/master/ROADMAP.md

[2015-12-17 21:00] tjwebb commented on #118
see also:
- https://github.com/tjwebb/sails-permissions/issues/200
- https://github.com/tjwebb/sails-swagger/issues/16

[2015-12-22 04:22] #118 closed

[2015-12-23 09:59] carlosatta commented on #114
+1

[2015-12-24 01:54] DaAwesomeP commented on #119
I don't know what you mean by not change the User model. That's definitely the easiest way to do it:
[code]

[2015-12-24 22:02] dioptre commented on #70
thanks @muradaliyev i tried them all and that did it! :)

[2015-12-27 17:11] DaAwesomeP opened #120 "Stop logout redirect"
How can I stop it form redirecting after logging out?

[2015-12-29 12:02] muradaliyev commented on #70
@dioptre, it looks like we need to repeat the same trick with **sails-auth/api/services/authservice.js**, If it is not already created with generator script.

It is responsible for the **next=url** parameter in login request (if you want to redirect browser after successful login)

[2015-12-30 23:34] matheuss commented on #70
+1 for the issue and +1 for @muradaliyev's workaround! :)

[2016-01-05 03:35] hacksut3l opened #121 "Facebook Strategy"
How to use facebook strategy?

[2016-01-06 14:18] YoleYu commented on #114
+1
I'm new to sailsJS, do not know why this happened.
Reproduce Step:
1. sails new sails-auth-test
2. cd sails-auth-test/
3. $ npm install sails-auth --save
sails-auth@1.3.1 node_modules\sails-auth
├── passport-twitter@1.0.3 (xtraverse@0.1.0, passport-oauth1@1.0.1)
├── passport-facebook@1.0.3 (passport-oauth2@1.1.2)
└── passport-google-oauth@0.2.0 (pkginfo@0.3.1, passport-oauth@1.0.0)

4. $ sails

[2016-01-06 14:34] YoleYu commented on #114
resolved by specify version to 2.1.1 in package.json

[2016-01-06 14:35] YoleYu commented on #70
specify sails-auth version to 2.1.1 in package.json can resolve this problem.

[2016-01-09 09:10] Ziao commented on #75
Agreed

[2016-01-09 11:45] YoleYu commented on #85
I meet this problem, resolved by following:

change your config/bootstrap.js to load your Passport providers on startup by adding the following line:
sails.services.passport.loadStrategies();

[2016-01-10 22:10] joshbuckley182 commented on #98
+1

I had the same issue (using facebook-token, user logs in again from another browser/device, and app attempts to create duplicate user), and the `user.create` to `user.findOrCreate` solution solved it.

[2016-01-12 02:32] hacksut3l commented on #88
+1

[2016-01-12 02:43] hacksut3l commented on #40
+1

[2016-01-12 03:15] #121 closed

[2016-01-24 00:15] tnat1031 commented on #70
thanks @YoleYu that worked for me

[2016-01-28 23:40] fenichelar commented on #108
Did you ever figure this out? I am trying to do the same thing with CAS.

[2016-02-01 20:06] chirag200666 commented on #40
+1

[2016-02-02 20:09] dottodot opened #123 "Extend / Override Protocol"
I'm wanting to make some changes to the way the local protocol works in particular the login but can't work it out. In my app api > services > protocols > local.js I would have assumed something like the following would have giving me the ability to override it but it doesn't do anything

[code]

[2016-02-03 19:51] LeonardoGentile commented on #40
I might be wrong bu I doubt this repo will have any further active development, see [this comment](https://github.com/balderdashy/sails/issues/3429#issuecomment-165558548)

[2016-02-04 07:25] gokul-toobler opened #124 "How to use sails-auth in sails project?"
how can i use sails-auth hook in my sails project.I installed sails-auth using npm install sails-auth --save.and when running project terminal logs says sails-auth controllers,services,models are loaded using marlinspike. But i don't have any idea about further steps.please help me..

[2016-02-07 23:19] unodelostrece commented on #113
+1

[2016-02-11 14:02] eric-burel commented on #89
This behaviour is due to lines 34 to 36 of the file api/response/serverError.js
  if (sails.config.environment === 'production' && sails.config.keepResponseErrors !== true) {
    data = undefined;
  }
Meaning that data passed to the function are simply destroyed on production. Other responses have the same behaviour.

 The solution is to set the keepResponseErrors to true in a config file.

To my

[2016-02-11 22:24] fenichelar opened #125 "Google OAuth2 Login Issue"
I am having an issue with Google OAuth2. I `GET` `/auth/google` and authenticate. I then `GET` `/logout` and logout. If I then `GET` `/auth/google` again, I don't authenticate and receive the following error:

`warn: undefined 'TypeError: Cannot read property \'user\' of undefined\n    at /Users/Alec/Sites/GTFriender-Web-Server/node_modules/sails-auth/dist/api/services/passport.js:134:54\n    at p

[2016-02-12 03:55] max918 opened #126 "sails.getBaseUrl() is deprecated"
warn: sails.getBaseUrl() is deprecated and will be removed in Sails v1.0.  See http://sailsjs.org/documentation/reference/application/sails-getbaseurl for more info.

[2016-02-12 07:09] parialegend commented on #8
Hi,

I am still facing this issue.I put everything inside "modules but still no success.

[2016-02-12 07:33] parialegend commented on #8
Ah! .sailsrc was empty.
Got it working now.

[2016-02-14 00:32] Thomas-C-Voegeli commented on #113
+1

[2016-02-14 02:28] kwit75 commented on #113
+1

[2016-02-15 18:23] josmardias commented on #124
After installing this package I was expecting a GET to /auth/facebook on my app to "simply" exist and return a 302 redirect, due to
[code]

But I only get a 404 Not Found...

[2016-02-15 18:47] fenichelar opened #127 "Passport object undefined"
When logging in I get an error. I am using Google Auth. The error is produced during the following block in `passport.js`:

[code]

`return sails.models.user.findOne(passport.user.id);` errors because `passport` is undefined. Any ideas how to fix?

[2016-02-15 21:52] josmardias commented on #124
In my case, the problem was sails version. Seems like it's working only with Sails >= 0.12

[2016-02-16 13:41] w-site commented on #76
+1

[2016-02-17 22:45] w-site opened #128 "Get error while "An existing user is trying to log in using an already connected passport.""

[2016-02-18 05:24] emudojo opened #130 "Resourceful PubSuB stopped working after installing this on sails 12.1"
Very easy to replicate.

crete a new project, set up a pretty simple test page
[code]

without sails-auth whenever I click on Create User, and while having two clients, I will get the "created" event in socket.on (configuring autoWatch to true)

After installing sails-auth and without changing a single file, the user gets created, but the event is not emitted to the listening socket clients.

is t

[2016-02-18 05:41] emudojo commented on #124
Using sails 12 and the latest sails-auth works, without having to do any configuration by hand

[2016-02-18 08:23] ethicalvats commented on #125
I was also facing the same issue, it seems like the sails version 12.1 is not compatible with sails-auth 2.1.3.

According to the code it is looking for promise to return from the passport.save() but modifying it to callback function it works.

change
node_modules/sails-auth/dist/api/services/passport.js:134:54

**from**

return passport.save().then(function (passport) {

**to**

return passport.s

[2016-02-18 10:47] ethicalvats commented on #125
there is already a pull request open with exact same solution https://github.com/tjwebb/sails-auth/pull/129/files

[2016-02-20 04:01] thescopan opened #131 "Is there any documentation as to how to use this package?"
I am new to sails and the first thing I wanted to implement was auth. But the readme does not explain anything about the usage.

[2016-02-20 16:28] Aure77 opened #132 "Register user - posting data return 403 ?"
I don't know if I am missing something but when I try to post user like this :
`curl -H "Content-Type: application/json" -X POST -d '{"username":"toto",email:"toto@go.lf","password":"qsdsqd"}' http://localhost:1337/register`
Same result with application/x-www-form-urlencoded
(this should call UserController.create)

I always get :
`verbose: Sending 403 ("Forbidden") response: You are not permitted

[2016-02-20 17:26] Aure77 commented on #132
I finally succeeded to perform registration by adding this policy :
`UserController: {
   'create': true
}`

Is this secure ?

[2016-02-20 17:26] #132 closed

[2016-02-21 00:24] emudojo commented on #130
if anyone stumbles upon this problem, the solution was quite simple, but, this is a good candidate for a PR. when sails is using blueprints for actions, the default UserController overrides the blueprint's create method, that has the publishCreate socket method on the newsly created model.

Soluction

Create your own UserController, and then create the following method

[code]

This will use passp

[2016-02-21 00:24] #130 closed

[2016-02-22 19:33] po5i commented on #119
+1

[2016-02-22 19:33] po5i commented on #119
+1 for @DaAwesomeP solution

[2016-02-25 05:41] subwaymatch commented on #131
+1. Wishing for a documentation or some kind of example.

[2016-02-25 20:36] aamistak commented on #131
+1

[2016-02-28 19:12] limailmirino commented on #3
I got a similar message, creating an API named Location. Perhaps is a protected name already used from the standard  ?

Did u find out in your case ?

[2016-03-02 06:42] tjwebb commented on #113
Can someone clarify what the issue actually is?

[2016-03-02 06:43] tjwebb commented on #131
There is documentation here: https://github.com/tjwebb/sails-auth/wiki

Contributions are welcome and encouraged. Believe it or not, there's an actual limit to how much work I can do for free.

[2016-03-02 06:43] #131 closed

[2016-03-02 06:43] tjwebb commented on #126
It sure is.

[2016-03-02 06:43] #126 closed

[2016-03-07 17:31] aman-gautam opened #136 "Deprecated warnings"
On installing using `npm install sails-auth --save` I get the following warnings:

[code]

[2016-03-10 23:56] sposmen commented on #52
Pull requested in #135. If there is anyone interested and not merged here for "any reason" could check it [here](/sposmen/sails-auth)

[2016-03-17 07:51] JerryYangJin opened #137 "Cannot read property 'user' of undefined"
Hello, I'm using sails `0.12.1`, node `4.3.1`, sails-auth `2.1.3`, sails-permissions `2.2.0`

When I tried to authorized with `/auth/google` or `/auth/github`, from the debug log, i can see the auth profile was fetched, but later there was error about `Cannot read property 'user' of undefined`

error:
[code]

i found a workaround with sails permission module on `.sailsrc`

.sailsrc
[code]

with th

[2016-03-18 08:43] JerryYangJin opened #138 "question: How to override default auth routing and callback action"
Hello, I'm testing sails-auth `2.1.3` with sails `0.12.1`

I used `/auth/google` or other social auth to authorize session, when session is authorized, the default callback is to display the current user record in json format.
How do I change callback so that after authorization it redirects to some url like `/`?

Also, some url like `/login`, `/register` is used by sails-auth, I want to use sails

[2016-03-22 05:29] aman-gautam commented on #119
@DaAwesomeP Absolutely! This can be the way to go.

`var _super = require('sails-auth/api/models/User'); // Dev may not be using sails-permissions`

@alerdenisov, If you really don't want to add profile data in User table, you can create a one-to-one mapping between your User model and Profile model. Check [this link](http://sailsjs.org/documentation/concepts/models-and-orm/associations/one-to-one

[2016-03-22 12:29] aman-gautam opened #139 "Is the project still active?"
Hi,

It's a general observation that this repo hasn't been too active in 2016. The number of open issues have crossed 50, the only code related commits have been the merging of pull requests, the dependencies are out of date.

Is it still safe to use this project in a production system?

Best
Aman

[2016-03-27 02:49] jials commented on #137
#129
#73

[2016-03-27 19:09] tjwebb commented on #139
See https://github.com/langateam/sails-auth/issues/118.

[2016-03-27 19:09] #139 closed

[2016-03-27 19:12] tjwebb commented on #126
I don't know why the links keep changing on the Sails website. The correct URL for getBaseURL is http://sailsjs.org/documentation/reference/application/sails-get-base-url

[2016-03-30 22:25] tom-sherman opened #140 "sails.getBaseURL() is deprecated."
As `getBaseURL()` is being deprecated in Sails v1.0, there should be implemented a more elegant way to define this.

[The offending bit in `passport.js`](https://github.com/langateam/sails-auth/blob/master/api/services/passport.js#L292):

[code]

---

[Reference](http://sailsjs.org/documentation/reference/application/sails-get-base-url):

[2016-04-07 06:22] scippio opened #141 "Deprecated project?"
Is this project deprecated?
https://github.com/balderdashy/sails/issues/3683

[2016-04-08 14:44] bora89 commented on #117
@romu70 Indeed, documentation very poor. Did someone figure out how to use that?

[2016-04-10 03:31] tjwebb commented on #141
Related: https://github.com/langateam/sails-auth/issues/118.

We will be applying bugfixes where necessary, but as a company we're divesting from the Sails.js ecosystem. See also: https://github.com/balderdashy/sails/issues/3429#issuecomment-165004024.

[2016-04-10 03:31] #141 closed

[2016-04-11 05:51] tjwebb commented on #140
So, what should we do?

[2016-04-11 12:43] tom-sherman commented on #140
Could look for a few configuration values before using this deprecated method. Maybe then add an error message to advise to set one up?

[2016-04-14 20:41] misterjt opened #144 "Broken with sails 0.12.3"
Model instance methods not available in sails 0.12.3

[2016-04-15 05:34] tjwebb commented on #144
@misterjt can you elaborate please?

[2016-04-16 01:27] misterjt commented on #144
Sorry, issue to marlinspike, not to sails-auth.

[2016-04-16 01:27] #144 closed

[2016-04-16 01:31] misterjt opened #145 "unique: true works bad with sails-mongo."
I happened to notice on my production server that i can create several users with the same username or emails. I use mongodb on this server.
I started to google, and  found, that sails-mongo almost not working with unique:true.
Сould you please implement an additional check on the uniqueness of username and email?

[2016-04-16 03:50] tjwebb commented on #145
You can extend the models to add whichever constraints you wish. If you'd like to add this to the core, please submit a PR

[2016-04-19 08:40] ionut72 opened #147 "LDAP auth"
Was anybody able to implement LDAP authentication?

[2016-04-20 12:51] #147 closed

[2016-04-21 17:44] danieltjewett commented on #147
@ionut72 Were you able to figure this out?  If so, could you share?  I've been researching this on and off for the last few weeks in my spare time, with no luck.  I currently get a `Failed to serialize user into session` error.

[2016-04-22 06:21] ionut72 commented on #147
@danieltjewett
I was able to implement this feature using **vesse/passport-ldapauth** and created ./config/passport.js with a new provider( see issue #79 for more details).

- ./api/services/protocols/ldaputh.js - my custom protocol callback function

- ./api/services/protocols/index.js - add your custom protocol callback to existing protocols that now point to sails-auth protocols directory

- ./

[2016-04-22 18:33] scott-wyatt commented on #140
I agree, I think that this should be set through an environment variable in future releases.

[2016-05-11 15:54] neauxla commented on #113
@tjwebb The install script no longer generates the files necessary. So when the doc says to modify the passport config.js file, there is actually nothing there.

[2016-05-29 06:03] Brainshack opened #150 "req.user always empty when calling /user/me"
Hello,

I have setup a brand new sails app with sails auth. I am using the local strategy. I create a User as described in the docs and authenticated using /auth/local. The auth call returns the correct user. However, when I call /user/me afterwards, the result is empty. I am using Postman to make the calls. A Cookie with the session id exists, so I suppose there maybe needs to be something else s

[2016-05-31 05:47] openmindcoil commented on #70
Calling sails.services.passport.loadStrategies(); after cb(); solved the problem for me.

module.exports.bootstrap = function(cb) {
   cb();
  sails.services.passport.loadStrategies();
};

[2016-06-05 23:45] initialized-soul opened #151 "action=login error"
If I'm using local authentication and POST to /auth/local?action=login I get an 'Invalid action' error as per line 212 of passport.js which does not accept 'login' as a valid parameter. However, as per the sails-auth code, I need to specify 'login' for the action if I want to redirect users back to the login page after unsuccessful authentication. It seems that there is an incompatibility there, n

[2016-06-16 06:59] Rafi993 opened #152 "login sample"
It would be nice if there is any example application for local strategy.

[2016-06-16 07:02] Rafi993 commented on #113
:+1:

[2016-07-05 20:54] fz0718 commented on #150
I can confirm I am having the same problem. Did you ever figure out the issue?

[2016-07-08 22:16] Gelio commented on #60
Bumping this issue. I ran across the same problem. From what I've gathered not a single value is being validated by _sails-auth_. Has anyone found a solution?

[2016-07-08 22:19] Gelio commented on #90
+1

[2016-07-15 10:14] enricodeleo commented on #73
It would be nice to have some configuration like redirect url on login/signup, just like https://github.com/jaumard/sails-hook-passport does.

[2016-07-23 04:00] smith64fx commented on #150
Got the same problem =/

[2016-07-23 05:23] smith64fx commented on #124
Just use the files from sails-permission code!
I had problems using sails-auth only, but now everything works like charm :)

https://github.com/langateam/sails-permissions

[2016-07-23 05:24] smith64fx commented on #150
I found a solution!
Use this:
https://github.com/langateam/sails-permissions

Just use the files from sails-permission code!
I had problems using sails-auth only, but now everything works like charm :)

[2016-07-26 08:02] ahmadao commented on #137
I can still see this problem because the dist inside package.json returns an older version.

[2016-07-26 10:58] ahmadao opened #153 "NPM"
The published npm doesn't contain the latest version of the repo.

[2016-08-03 18:28] Garland220 commented on #140
This will fail if 'sails.config.appUrl' is undefined.

I would suggest adding a check for undefined as well:
`
      var baseUrl = '';
      if (sails.config.appUrl && sails.config.appUrl !== null) {
        baseUrl = sails.config.appUrl;
      }
      else {
        sails.log.warn('Please add "appUrl" configuration value.');
        baseUrl = sails.getBaseurl();
      }
`

[2016-08-03 18:36] Garland220 opened #154 "LinkedIn Passport provider saved as null"
I'm using [https://github.com/auth0/passport-linkedin-oauth2](this) LinkedIn passport plugin, and I ran into an issue where provider was being saved as null.

I fixed this by changing a few things in the passport service, but I want to know if this was a bug, or if I should have handled this some other way:

[code]

I moved `var provider` up, and changed it to fallback to the request param, then s

[2016-08-03 18:59] Garland220 commented on #154
I added a pull request for this:
https://github.com/langateam/sails-auth/pull/155

[2016-08-07 21:29] tom-sherman commented on #140
@Garland220 That's strange, I specifically remember testing for this case and it produced the expected result (a warning).

[2016-08-13 03:04] danielsharvey commented on #74
+1 @tjwebb, as per your comment in #63 would you please advise how you intend on implementing this?

Thanks!

[2016-08-16 10:15] cderche commented on #138
Did anyone figure this out? Specifically the callback. Right now, when I `POST /register`, I am redirected to `res.ok(user)` [see [UserController](https://github.com/langateam/sails-auth/blob/master/api/controllers/UserController.js)]. Is there a way of overriding this so that we can redirect to a page?

[2016-08-16 17:11] sudrao commented on #153
+1 @tjwebb Please publish sails-auth to npm. I was last published 7 months ago.

[2016-08-18 09:04] ahmadao commented on #153
@tjwebb please publish this, it is very important.

[2016-08-19 19:54] ahmadao commented on #153
@tjwebb please publish this, the github version is way newer than the npm version, and we can't install from github

[2016-08-31 12:52] ahmadao commented on #153
Why no one here is responding? we can't use from github alone and the npm version is 7 months old. Please please update the npm version.

[2016-09-02 03:17] tjwebb commented on #153
The builds are all failing now because of some upstream change, either in waterline or sails. We no longer use sails, so if someone can investigate this, I can merge a PR that fixes this and update the package on npm.

[2016-09-13 00:16] andreihod commented on #88
+1

[2016-09-15 07:59] ikari-pl commented on #138
I, in turn, would need this in order to add another verification step — I don't have a better idea on how to check if passport authenticated my user, but additionally let me check if the user is active, etc.

[2016-09-27 22:54] fernandolguevara commented on #153
#161

[2016-09-27 23:14] fernandolguevara commented on #151
#161

[2016-10-05 12:20] fernandolguevara commented on #153
@tjwebb please, can you publish to npm the merged pull request #161

[2016-10-15 11:42] fruedaCode commented on #127
I'm having the same issue. Any solution??

Thanks!

[2016-10-20 17:40] movehand commented on #150
+1
In my case, `deserializeUser` is never called. So the user object is not attached to `req.user`.
Adding the `passport` policy for `UserController` in `config/policies.js` will invoke `deserializeUser`, and the user will then be attached, but I'm not sure whether if this is the right way to do it.

In `config/policies.js`:

[code]

[2016-10-23 15:44] rsibanez89 commented on #152
I did an example project.
It would be great if someone confirm that what I did is correct.
https://github.com/rsibanez89/simple-user-auth-sails

[2016-10-24 00:23] westlakem commented on #87
I know this is old but it's still an open discussion.  Can we change that request to a 400 error instead of a 403?  403 is "you do not have permission" and 400 is "bad request" (which missing a required field is)

[2016-10-24 08:53] rsibanez89 commented on #138
I have overriden the **create** method defined in "/node_modules/sails-auth/api/controllers/UserController.js".

[Simple example for using sails-auth](https://github.com/rsibanez89/simple-user-auth-sails#redirecting-after-registering-and-loging-users)

[2016-10-24 14:23] rsibanez89 commented on #151
For redirecting to /login page define the **next** parameter.
`<form action="/auth/local?next=/login" method="post">`

[2016-10-27 12:41] rsibanez89 opened #162 "Why did you remove the "generator"?"
I understand that using **marlinspike** you actually don't need to copy all the files to the root of the project.
Marlinspike exposes all that code that is in the "/node_modules/sails-auth", and "magically" we can create users and authenticate them.
My question is why? As a developer, I would actually prefer the code in the root of my project (copied by using the generator).
At least I know where

[2016-10-29 01:50] rsibanez89 opened #163 "Login when registerig"
I'm trying to authenticate the user when registering. But the req.user is empty in the next request.
This is my **UserController**

[code]

[2016-10-30 02:01] rsibanez89 commented on #163
This is working

[code]

[2016-10-30 02:17] #163 closed, assigned to nobody

[2016-11-08 15:22] alexanderpepper commented on #115
Hi foobar8675, did you ever find a solution for this? I'm trying to do the same thing.

[2016-11-08 15:23] alexanderpepper opened #164 ""Remember Me" functionality"
How can I make login persist after the browser is closed or the server is restarted?

[2016-11-08 17:21] matthewchung74 commented on #115
Sorry, I never did.

[2016-11-08 18:36] Garland220 commented on #153
Can we please get this published @tjwebb

[2016-11-08 18:38] Garland220 commented on #164
Look at config/session in your sails app. You need something to store the sessions

[2016-11-11 00:37] #154 closed

[2016-11-17 12:16] pawelhertman commented on #127
@fenichelar @fruedaCode did you solve this problem?

[2016-11-17 12:35] fruedaCode commented on #127
solve it! thanks!

2016-11-17 13:16 GMT+01:00 Paweł Hertman notifications@github.com:

[2016-11-17 12:57] pawelhertman commented on #127
@fenichelar could you write how did you do that? I know it is fixed in 2.1.4 version, but the latest version of sails-auth in npm is 2.1.3. I tried to install v2.1.4 directly from repository, but I've got an error "cannot find module 'node_modules/sails-auth'" (although it exists)

[2016-11-17 13:01] pawelhertman commented on #127
@fruedaCode could you write how did you do that? I know it has been fixed in 2.1.4 version, but the latest version of sails-auth in npm is 2.1.3. I tried to install v2.1.4 directly from repository, but I've got an error "cannot find module 'node_modules/sails-auth'" (although it exists)

[2016-11-17 14:58] fruedaCode commented on #127
I directly changed that line on dist directory. But i think you could extend passport module and override the function.

[2016-11-26 09:32] TroX-oO commented on #162
I totally agree with that. Even if it is not a default behaviour. I would prefer having the choice to get the code inside my project if I want to.

[2016-11-28 10:51] Simone-cogno commented on #87
how to redirect to an error page if the login fails?

[2016-11-28 12:11] Simone-cogno opened #165 "How to redirect to a page if the login fails?"
I was able to redirect if the login is successful. But if the login fails i got error 403 and I cannot redirect to a page.

[2016-12-06 05:05] alexanderpepper commented on #164
So simple! Thank you.

[2016-12-06 05:05] #164 closed, assigned to nobody

[2017-01-05 15:32] jorgecasar commented on #127
Solved by #128 and released on [v2.1.4](https://github.com/langateam/sails-auth/releases/tag/v2.1.4).

Please @tjwebb, could you publish on NPM the versions 2.1.4 and above?

[2017-01-05 15:41] jorgecasar commented on #127
Installing with `npm i --save langateam/sails-auth` npm install it but when I launch sails I get this error. Any idea?

[code]

[2017-01-30 23:29] mneil commented on #123
I would also like to see this added. I've dug through the code now for a few hours and as far as I can tell there actually isn't a way to add any other passport strategies than the ones supported by the plugin. The "et al" in the docs is overstated.

The issue is that all passport strategies require a callback.

 - The options passed in *must* be an object. This means setting options: function(){}

[2017-02-20 03:26] priyankgandhi commented on #73
Below solution works perfectly fine.
`      callbackURL: '/auth/google/callback?next=/',
`

[2017-02-27 16:38] frenchbread commented on #75
+1

Any update on this one?

[2017-03-07 13:30] cappern commented on #74
+1 @tjwebb  👍

[2017-04-12 11:55] sergiyvoytovych commented on #70
I had the same problems in one of my sails app repositories. I fixed it by installing a previous version of sails-auth.

npm install sails-auth@1.2.3

This fixed it for me. I also updated dependency reference for my package.json from

"sails-auth": "^1.0.10",

to

"sails-auth": "1.2.3",

After this I was able to lift with no problems. I created an issue report here: https://github.com/balderdashy/

[2017-04-26 21:47] enuggetry opened #166 "Cannot find module when files are pulled from repo"
Why is it when I pull directly from the repo, I get this message when I lift?

[code]
I had added this to package.json
[code]

[2017-04-26 23:47] enuggetry commented on #166
the problem was it was not building the dist directory because I was logged in as root.  Should not happen as a non-root user with appropriate sudo permission.  Can also be forced with `npm install --unsafe-perm`

[2017-04-26 23:47] #166 closed, assigned to nobody

[2017-07-24 13:50] TheSinding commented on #140
Is there a fix for this issue?

[2017-07-24 17:36] tom-sherman commented on #140
@TheSinding Which issue are you referring to? Both my solution and the hotfix have been merged into master

[2017-08-12 01:44] 0aps commented on #140
@tom-sherman he probably says that because your solution is not yet publish into npm.

[2017-08-12 20:37] TheSinding commented on #140
Sorry I didnt answer until now @tom-sherman.
Yeah @0aps is properly correct, when I tried with Sail 1.0 and the auth lib, I kept getting an sails.baseUrl() error..

[2017-10-11 10:36] pixelbacon commented on #84
Hitting the same snag, even after implementing [tjweb#79](https://github.com/trailsjs/sails-auth/issues/79) fix...

@shvelo Where you able to get this work?

[2017-10-11 11:14] pixelbacon commented on #79
@elennaro Have you gotten this to work?

[2017-10-11 11:37] elennaro commented on #79
@pixelbacon It was years ago, I can barely recall... I've binded 'passport-jwt' somehow...

[2017-10-11 17:54] pixelbacon commented on #79
@kevintechie After implementing this, still getting `JwtStrategy requires a verify callback`

[2017-10-11 19:13] kevintechie commented on #79
@pixelbacon I'm sorry to say that I've recycled all the brain cells I used for Sails.js long ago. However, it's not clear that your error is related to the issue here. You may want to check #147 for more hints.

[2017-11-07 20:19] #79 closed

[2017-11-29 19:46] fulminant commented on #123
I have the same problem.

[2018-01-25 10:13] trex005 commented on #119
@aman-gautam while you have a very good point, how do you set the profile that the autogenerated admin uses?

[2018-01-29 05:07] ariston1983 opened #167 "issue with sails 0.12.14"
I just found issue on **sails-auth/api/services/passport.js** on passport.connect for existing user/passport. the issue is on line 134 for saving passport and return user record.

On sails 0.12.14 the callback for the promise is no longer has parameter model in it, instead it has parameter error. so the old code:

`return passport.save()
    .then(function (passport) {`

is no longer works because

[2018-02-28 02:08] ferrants commented on #52
This issue should be closed. #135 is merged and works. Documentation could be better though.

A user with permission to update users should be able to POST `{password: 'newPassword'}`to `/user/:userId` and it should update the user's password.

[2018-03-22 12:38] #65 closed

[2018-04-03 19:49] abalad commented on #140
Same here

[2018-04-15 18:51] htondkar opened #168 "Error out of the box"
I installed the generator and started a new project, i chose express and sequlize, after installation of dependencies, i tried to start the app with npm start, but there was an error:

`TypeError: Cannot read property 'warn' of undefined
    at SequelizeTrailpack.validate (/home/hamid/Projects/Personal/trails/node_modules/trailpack-sequelize/index.js:18:34)
    at app.after.then.then (/home/hamid/

[2018-04-15 18:54] htondkar commented on #168
Also tried Hapi with sequlize and here is the error:
`TypeError: Cannot read property 'warn' of undefined
    at SequelizeTrailpack.validate (/home/hamid/Projects/Personal/trails/node_modules/trailpack-sequelize/index.js:18:34)
    at app.after.then.then (/home/hamid/Projects/Personal/trails/node_modules/trails/lib/Core.js:191:24)
    at <anonymous>
    at process._tickCallback (internal/process/n

[2018-04-15 18:56] htondkar commented on #168
Then i chose Hapi + waterline, there is no error but nothing happens when a start the server

[2018-04-15 18:56] htondkar commented on #168
Basically nothing works, at all

[2018-04-15 18:56] htondkar commented on #168
Tnx

[2018-05-21 00:38] amoritan commented on #140
(+1) It would be great if the npm package was updated with the latest release available on GitHub.

[2018-05-22 01:50] lauragift21 commented on #140
Is there a fix for this error?

[2018-06-22 01:16] michaelfahmy commented on #140
Any fix?!!! It's too long since this issue has been opened.
Please update the package!

[2018-06-22 04:03] tjwebb commented on #140
see:
- https://github.com/trailsjs/sails-auth/issues/126
- https://github.com/trailsjs/sails-auth/issues/118

[2018-06-22 04:03] #140 closed

[2018-07-16 23:35] fyarepo opened #169 "warn: Action middleware (POLICY: passport) was bound to a target `auth/*` that doesn't match any registered actions."
Hi,
Created brand new sails project and sails-auth-new --s and sails lift.
The warning messages are below. What can we do?
Regards
gab

======================================
debug: marlinspike (auth): loading Models...
debug: marlinspike (auth): loading Controllers...
debug: marlinspike (auth): loading Policies...
 warn: Action middleware (POLICY: passport) was bound to a target `auth/*` that doe

[2019-04-08 03:55] lifehome opened #171 "Argon2 Support?"
Hi,

Does this hook support Argon2? I can't find any on Google, and ended up here, hoping that someone could enlighten me to the use of Argon2.

Regards,
Ivan

[2020-09-24 14:44] #152 closed

[2022-08-23 16:44] alexmndzdev commented on #169
Any solution?

[2022-09-18 08:02] arunkamboj commented on #169
You need to generate the controller again.
Just rename your existing controller with another name and register the controller again using below command.

**sails generate controller ControllerName**

Example
sails generate controller User
it will create UserContoller.js

Thanks and Regards
Arun Kamboj